<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="{{ meta_data.theme_color }}" />
    <meta name="author" content="{{ meta_data.author }}" />
    <meta name="google-site-verification" content="7Cdu3lU_M9cUyGA-GJLcoZ8T3jWjsOlFm3OqmHxwn0Q" />

    <!-- prettier-ignore -->
    {% set pageMeta = null %}

    {% for meta in meta_data.page_descriptions %}
      {% if (meta.page == page.fileSlug) or (not page.fileSlug and not meta.page) %}
        {% set pageMeta = meta %}
      {% endif %}
    {% endfor %}

    <!-- prettier-ignore -->
    <meta name="description" content="{% if pageMeta %}{{ pageMeta.description }}{% else %}Page description goes here{% endif %}" />

    {% if path == "404" or path == 'form-submit' %}
    <meta name="robots" content="noindex, nofollow" />
    {% else %}
    <meta name="robots" content="index, follow" />
    {% endif %}
    <!-- Open Graph Tags -->
    <meta property="og:title" content="{{ meta_data.og_title }}" />
    <meta property="og:description" content="{{ meta_data.og_description }}" />
    <meta property="og:image" content="{{ meta_data.url }}{{ meta_data.og_image }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ meta_data.url }}" />
    <meta property="og:site_name" content="{{ meta_data.site_name }}" />

    {% block head %}{% endblock %}

    <title>{{ title }}</title>

    {% if path != '404' %}
    <link rel="canonical" href="{{ meta_data.url }}{%if path != 'home'%}/{{ path }}{%endif%}" />
    {% endif %}

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />

    <link
      rel="icon"
      href="/static/img/favicon-dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/static/img/favicon-light.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
    />

    <link rel="icon" href="/static/img/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="/static/img/favicon-192x192.png" sizes="192x192" type="image/png" />
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />

    <!-- Font preload -->
    <link
      rel="preload"
      href="/static/fonts/Geist-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Script Tags -->
    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      defer
    ></script>
    {% endif %}
    <script src="/static/js/alpine.js" defer></script>
    <script src="/static/javascript/index.js" type="module" defer></script>

    <!-- Data Schema -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ meta_data.og_site_name }}",
        "url": "{{ meta_data.url }}",
        "logo": "{{ meta_data.url }}/favicon.svg",
        "image": "{{ meta_data.url }}{{ meta_data.og_image }}",
        "sameAs": [{% for social_link in global.social_media.links %}
          {% if social_link.url %}"{{ social_link.url }}"{% if not loop.last %},{% endif %}{% endif %}{% endfor %}
        ],
        "contactPoint": {
          "@type": "ContactPoint",
          "email": "{{ meta_data.contact_email }}",
          "contactType": "Support"
        }
      }
    </script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "./partials/header.njk" %}
    {% include "./partials/nav.njk" %}
    <main class="main-content main-{{ path }}">{{ content | safe }}</main>
    {%include "./partials/footer.njk" %}

    <!-- prettier-ignore -->
    {% 
      if path == "spwr-way" 
      or path == "operation-spwr-serves" 
    %}
      {% include "./components/video-overlay.njk" %}
    {% endif %}

    <!-- prettier-ignore -->
    {% include "./partials/scripts.njk" %}
  </body>
</html>
