{% if list %}
<div
  class="swiper mySwiper {% if video_carousel %}video-carousel{% endif %} {% if img_carousel %}img-carousel{% endif %}"
>
  <div class="swiper-wrapper tab-element-page">
    {% for item in list %} {% if video_carousel %}
    <button
      class="video-toggle swiper-slide tab-element-page"
      data-src="{{ item.src }}"
      aria-label="Open video overlay for {{ item.title }}"
      aria-controls="video-overlay"
    >
      <span class="badge cta-1">{{ global.carousel.video_badge_text }}</span>
      <img src="{{ item.poster }}" alt="{{ item.title }}" loading="eager" />
    </button>
    {% else %}
    <div class="swiper-slide">
      <img src="{{ item.src }}" alt="{{ item.title }}" />
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="controls">
    <div class="swiper-button-prev tab-element-page">
      <!-- prettier-ignore -->
      {% set icon_svg = ({ src: global.carousel.arrow_img, class: '' }) %}
      {% include "../components/icon-svg.njk" %}
    </div>
    <div class="swiper-button-next tab-element-page">
      <!-- prettier-ignore -->
      {% set icon_svg = ({ src: global.carousel.arrow_img, class: '' }) %}
      {% include "../components/icon-svg.njk" %}
    </div>

    <!-- prettier-ignore -->
    {% if cta_1.text and cta_1.url %}
    <div class="carousel__controls-cta">
      <button
        class="video-toggle carousel-cta cta-1 {%if cta_1_outline%}outline{%endif%} tab-element-page"
        data-src="{{ cta_1.url }}"
        aria-label="Play video: {{ vid_title }}"
        aria-controls="video-overlay"
      >
        {{ cta_1.text }}
      </button>
    </div>
    {% endif %}

    <!-- prettier-ignore -->
    {% if carousel_progress %}
    <div class="swiper-pagination"></div>
    {% endif %}
  </div>
</div>
{% endif %}
