<!-- prettier-ignore -->
<form
  class="form-redirect"
  action="/form-submit"
  method="post"
  name="join-spwr-form"
  netlify
  netlify-honeypot="bot-field"
  {% if form_data.show_recaptcha %}
    data-netlify-recaptcha="true"
    hidden
  {% endif %}
>
  <input type="hidden" name="bot-field" />

  <div class="form-block-group form-block-group--full-name">
    <div class="form-block form-block--first-name">
      <input
        class="input tab-element-page"
        id="first-name"
        name="first-name"
        type="text"
        placeholder=" "
        title="Please enter your first name."
        aria-label="Please enter your first name."
        required
      />
      <label class="label" for="first-name">First Name</label>
    </div>
    <div class="form-block form-block--last-name">
      <input
        class="input tab-element-page"
        id="last-name"
        name="last-name"
        type="text"
        placeholder=" "
        title="Please enter your last name."
        aria-label="Please enter your last name."
        required
      />
      <label class="label" for="last-name">Last Name</label>
    </div>
  </div>

  <div class="form-block-group form-block-group--email-phone">
    <div class="form-block form-block--email">
      <input
        class="input tab-element-page"
        id="email"
        name="email"
        type="email"
        placeholder=" "
        title="Please enter your email."
        aria-label="Please enter your email."
        required
      />
      <label class="label" for="email">Email</label>
    </div>
    <div class="form-block form-block--phone">
      <input
        class="input tab-element-page"
        id="phone"
        name="phone"
        type="tel"
        pattern="[0-9]*"
        placeholder=" "
        title="Please enter your phone number."
        aria-label="Please enter your phone number."
        required
      />
      <label class="label" for="phone">Phone</label>
    </div>
  </div>

  <div class="form-block form-block--city">
    <input
      class="input tab-element-page"
      id="city"
      name="city"
      type="text"
      placeholder=" "
      title="Please enter your city."
      aria-label="Please enter your city."
      required
    />
    <label class="label" for="city">City</label>
  </div>

  <div class="form-block-group form-block-group--state-zip">
    <div class="form-block form-block--state">
      <input
        class="input tab-element-page"
        id="state"
        name="state"
        type="text"
        placeholder=" "
        title="Please enter your state."
        aria-label="Please enter your state."
        required
      />
      <label class="label" for="state">State</label>
    </div>
    <div class="form-block form-block--zip">
      <input
        class="input tab-element-page"
        id="zip"
        name="zip"
        type="number"
        inputmode="numeric"
        placeholder=" "
        title="Please enter your zip code."
        aria-label="Please enter your zip code."
        required
      />
      <label class="label" for="zip">Zip</label>
    </div>
  </div>

  {% if form_data.show_field_discovery %}
  <div class="form-block form-block--discovery">
    <textarea
      class="input input--textarea tab-element-page"
      id="discovery"
      maxlength="{{ form_data.max_count_discovery or 250}}"
      spellcheck="true"
      name="{{ form_data.label_discovery }}"
      title="{{ form_data.label_discovery }}"
      aria-label="{{ form_data.label_discovery }}"
      placeholder=" "
      required
    ></textarea>
    <label
      class="label label--textarea"
      id="discovery-label"
      for="discovery"
      aria-live="assertive"
    >
      {{ form_data.label_discovery }}
      <!-- prettier-ignore -->
      {% if form_data.max_count_discovery %}
      <span class="nested-label"></span>
      {% endif %}
    </label>
  </div>
  {% endif %}

  <!-- prettier-ignore -->
  {% if form_data.show_checkbox_awareness %}
  <div class="form-block form-block--awareness">
    <input
      class="checkbox tab-element-page"
      id="awareness"
      name="awareness"
      value="Yes"
      type="checkbox"
      title="{{ form_data.label_checkbox_awareness }}"
      aria-label="{{ form_data.label_checkbox_awareness }}"
      required
    />
    <label class="checkbox-label" for="awareness">
      {{ form_data.label_checkbox_awareness }}
    </label>
  </div>
  {% endif %}

  <!-- prettier-ignore -->
  {% if form_data.show_recaptcha %}
  <div data-netlify-recaptcha="true" class="recaptcha" style="width: 304px; height: 78px;"></div>
  {% endif %}

  <div class="form-footer">
    <button class="cta-1 outline tab-element-page" type="submit">{{ form_data.submit_btn_text }}</button>
  </div>
</form>
