* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  // Autofill for form fields: input, textarea, select, etc. Feel free to delete if there are no forms
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus-visible {
    -webkit-text-fill-color: var(--font-color--primary);
    -webkit-box-shadow: 0 0 0px 1000px var(--surface-color-2) inset;
  }

  // This hides the default buttons on input type="number"
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background: var(--background-color);
  color: var(--font-color--primary);

  & > * {
    max-width: $content-width;
    margin: auto;
  }
}

.site-header {
  --nav-bg-color: var(--surface-color);

  @include header-spacing;
  @include row-center(space-between);
  position: fixed;
  top: var(--body-padding-sm);
  // height: var(--header-height);
  z-index: $z-index--header;
  background: var(--nav-bg-color);
  width: var(--full-width-snip-sm);
  max-width: var(--header-max-width);
  padding: var(--body-padding);
  border: 1px solid var(--background-color);
  border-radius: var(--radius);
  transition: transform $ease, border $ease, background $ease;

  // :focus-within causes the header to persist on click, creating unwanted visibility on scroll
  &:has(.header-logo:focus-visible),
  &:has(.site-nav-btn:focus-visible) {
    transform: translateY(0) !important;
  }

  .site-nav-btn-wrapper {
    --nav-btn-height: 32px;

    // @include right-spacing;
    // top: var(--body-padding);
    // height: var(--header-height);
    height: var(--nav-btn-height);
    aspect-ratio: 1;
    transition: opacity 0.3s ease;

    .site-nav-btn {
      --line-offset: 2.5px;
      --nav-btn-color-bg: #{$white};
      --nav-btn-color-line: var(--nav-bg-color);

      border: 1px solid var(--nav-btn-color-bg);
      background: var(--nav-btn-color-bg);
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      padding: 7px;
      transition: $ease-c;

      // @include mq-max(lg) {
      //   --line-offset: 3px;
      // }

      &:hover,
      &:focus-visible {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }

      &__line-wrapper {
        position: relative;
        transition: 0.2s ease;
      }

      &-line {
        @include absolute-center;
        width: 125%;
        height: 3px;
        background: var(--nav-btn-color-line);
        transition: 0.3s ease;

        @include mq-max(lg) {
          height: 2.5px;
          width: 135%;
        }

        &:first-of-type {
          translate: -50% calc(-50% - var(--line-offset));
        }
        &:last-of-type {
          translate: -50% calc(-50% + var(--line-offset));
        }
      }

      &[aria-expanded="true"] {
        background-color: transparent;

        .site-nav-btn__line-wrapper {
          rotate: 45deg;
        }
        .site-nav-btn-line {
          translate: -50% -50%;
          background: var(--nav-btn-color-bg);

          &:last-of-type {
            rotate: 90deg;
          }
        }
      }
    }
  }

  // &.away-from-top {
  //   background: var(--background-color);
  //   border: 1px solid var(--surface-color);
  // }

  &.near-bottom {
    @include mq-max(lg) {
      transform: translateY(calc(-100% - var(--body-padding-sm)));
    }
  }

  &.scrolling-down {
    transform: translateY(calc(-100% - var(--body-padding-sm)));
  }

  &.nav-active {
    transform: translateY(0);
    background: transparent;
    border: 1px solid transparent;
  }
}

.site-nav {
  @include column-start;
  @include dark-theme;
  @include hide-content;
  position: fixed;
  top: 0;
  left: 0;
  max-width: unset;
  width: 100vw;
  height: 100dvh;
  background-color: var(--background-color);
  padding: var(--body-padding-sm);
  min-height: var(--section-min-height);
  z-index: $z-index--nav;

  @include mq-motion-allow {
    transition: opacity $ease;
  }

  &__inner {
    @include hide-content; // for animation
    @include column-start(space-between);
    margin: auto;
    background-color: var(--surface-color);
    max-width: var(--header-max-width);
    width: calc(100vw - var(--body-padding-sm-double));
    height: calc(100dvh - var(--body-padding-sm-double));
    min-height: var(--section-min-height);
    border-radius: var(--radius);
    padding: var(--body-padding);
    padding-block-start: var(--top-spacing-header);

    @include mq-motion-allow {
      translate: 0 -48px;
      transition: opacity $ease, translate $ease;
    }
  }

  .nav-links {
    @include column-start;
    height: 100%;

    @include mq-max(lg) {
      gap: 12px;
    }

    @include mq-min(lg) {
      margin-inline-start: var(--body-padding-double);
    }

    &__link {
      @include h1;
      position: relative;
      color: $white; // Doesn't follow convention for dark theme
      display: inline-flex;
      gap: 0.2ch;
      outline: none;
      padding: 16px 0; // fixes edge hover issue
      transition: color $ease;

      @include mq-max(xl) {
        // any updates here should update the .reveal class
        @include h3;
      }

      @include mq-max(md) {
        // any updates here should update the .reveal class
        @include h4;
        padding: 12px 0;
      }

      @include mq-max(sm) {
        // any updates here should update the .reveal class
        font-size: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 0;
        height: var(--border-bold-girth);
        background: var(--accent-color--primary);

        @include mq-mouse {
          transition: width $ease;
        }
      }

      // @include desktop-hover // Manual hover for mobile/touch
      &:hover,
      &:focus-visible {
        // border-color: var(--accent-color--primary);

        &::before {
          width: 100%;
        }

        .reveal {
          width: 4.45ch;
          pointer-events: none;

          @include mq-max(sm) {
            width: 4ch;
          }
        }
      }

      .reveal {
        color: var(--hero-color--primary);
        width: 0;
        overflow: hidden;

        @include mq-mouse {
          transition: width $ease;
        }
      }
    }
  }

  &__footer {
    --link-color: #{$white};
    --link-color-hover: #{$yellow};

    @include row-center(flex-end);
    width: 100%;
  }

  &[aria-hidden="false"] {
    @include show-content;

    .site-nav__inner {
      @include show-content;
      translate: 0 0;
    }
  }
}

.site-footer {
  // @include dark-theme;
  background-color: var(--surface-color);
  width: calc(100vw - var(--body-padding-sm-double));
  max-width: var(--header-max-width);
  // max-width: unset; // toggle for ultra-wide behavior
  padding: var(--body-padding-double);
  margin-block: var(--body-padding) var(--body-padding-sm);
  border-radius: var(--radius-lg);

  &__inner {
    max-width: $content-width;
    @include column-start;
    gap: 128px;
    margin: auto;
    width: 100%;

    @include mq-max(lg) {
      gap: 64px;
    }

    .inner-top,
    .inner-bottom {
      @include row-end(space-between);
      width: 100%;

      @include mq-max(lg) {
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
      }
    }

    .social-media {
      @include mq-max(lg) {
        display: none;
      }
    }
  }

  .footer-links {
    display: grid;
    gap: 24px 128px;

    @include mq-min(lg) {
      grid-template-rows: repeat(4, 1fr);
      grid-auto-flow: column;
    }
  }
}

// .site-loader {
//   @include row-center;
//   position: fixed;
//   top: 0;
//   width: 100vw;
//   height: 100dvh;
//   background: var(--background-color);
//   z-index: $z-index--loader;

//   &__text {
//     color: var(--font-color--primary);
//   }

//   &.load-complete {
//     @include hide-content;
//     transition: 0.5s ease;
//   }
// }

.main-platform,
.main-operation-spwr-serves,
.main-spwr-way {
  padding: var(--body-padding-sm);
}

.main-spwr-way {
  padding-block: var(--body-padding);

  @include mq-max(lg) {
    padding-block: var(--body-padding-double);
  }
}

section {
  @include section-padding;
}

h1 {
  @include h1;

  @include mq-max(lg) {
    @include h3;
  }
}

p,
strong,
em,
figcaption,
blockquote,
input,
textarea,
label,
li {
  @include body-font-styles;
  text-decoration: none;

  &.body-lg {
    @include body-font-styles(lg);
  }
}

strong {
  font-weight: 900;
}

a {
  font-family: var(--font-family-heading);
  font-size: 20px;
  text-decoration: none;
  color: var(--link-color);

  @include desktop-hover {
    color: var(--link-color-hover);
  }
}

button {
  font-family: var(--font-family-heading);
  border: none;
  background: none;
  cursor: pointer;
}

span {
  font-family: inherit;
}

small {
  font-size: 12px;
}

picture {
  @include row-center;
}

img,
video {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

figure {
  font-size: 0; // Chrome's user agent stylesheet adds 1em padding-block-end
}

br {
  &.gap-sm {
    // content: ""; // no idea why this was here... likely good to delete
    margin: 16px;
    display: block;
  }
}
