//
// Media Queries
//

$max-breakpoints: (
  "xs": 390px,
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1512px,
  "xxxl": 1750px,
  // was 1920
);

@mixin mq-max($breakpoint) {
  $value: map-get($max-breakpoints, $breakpoint);
  @media screen and (max-width: $value) {
    @content;
  }
}

$min-breakpoints: (
  "xs": 391px,
  "sm": 481px,
  "md": 769px,
  "lg": 1025px,
  "xl": 1201px,
  "xxl": 1513px,
  "xxxl": 1751px,
);

@mixin mq-min($breakpoint) {
  $value: map-get($min-breakpoints, $breakpoint);
  @media screen and (min-width: $value) {
    @content;
  }
}

// Users that prefer dark theme
@mixin mq-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// Users on tables and smart phones
@mixin mq-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// Users on computers and laptops
@mixin mq-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// Users that don't mind animations (motion)
@mixin mq-motion-allow {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Users that are sensitive to motion. Use this to remove animations.
@mixin mq-motion-reduce {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}

// Removes hover state on mobile. Covers hover/focus for desktop
@mixin desktop-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus-visible {
      @content;
    }
  }
}

// Hover state for computer users with reduced motion. @mq-mouse + @mq-motion-reduce + :hover
@mixin no-motion-desktop-hover {
  @media (prefers-reduced-motion: reduce) and (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

//
// Typography, check ultra wide & small screens.
// FYI: Dropping below 12px results in a11y pentalty.
//

@mixin heading-text {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -2px;
}

@mixin h1 {
  @include heading-text;
  font-size: 96px;
  line-height: 107.8%;
  font-size-adjust: 0.5;
}

@mixin h2 {
  @include heading-text;
  font-size: 75px;
  line-height: 132.2%;
}

@mixin h3 {
  @include heading-text;
  font-size: 55px;
  line-height: 110%;
  font-size-adjust: 0.5;

  // fix text overflow for smaller screens
  // @include mq-max(xs) {
  //   font-size: 12vw;
  // }
}

@mixin h4 {
  @include heading-text;
  font-size: 36px;
  line-height: 1;
}

// Landing page & Timeline (about page)
@mixin h5 {
  @include heading-text;
  font-size: 24px;
  letter-spacing: -1px;
}

// No h6 listed in Figma, sharing with button-text
@mixin h6 {
  @include heading-text;
  font-size: 20px;
  letter-spacing: -1px;
}

@mixin body-font-styles($size: md) {
  --font-size: #{$body-text-1};

  color: var(--font-color--primary);
  font-size: var(--font-size);
  font-weight: 500;

  @media all {
    @include mq-max(lg) {
      --font-size: #{$body-text-2};
    }
  }

  // used on timeline
  @if $size == sm {
    --font-size: 22px;
  }

  // used on form page
  @if $size == xs {
    --font-size: 18px;

    @include mq-max(lg) {
      --font-size: 16px;
    }
  }
}

@mixin link-font-styles {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.5px;

  @include mq-max(lg) {
    font-size: 16px;
  }

  @include mq-max(md) {
    font-size: 14px;
  }
}

@mixin inherit-font {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//
// Site Layout and Theme
//

@mixin dark-theme {
  // --background-color: #{$black}; // messes with sections
  --font-color--primary: #{$white};

  --link-color: #{$white};
  --link-color-hover: #{$grey};

  --btn-color-bg: #{$white};
  --btn-color-text: #{$blue};
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #{$blue};
  --btn-color-text--hover: #{$white};
  --btn-color-border--hover: var(--btn-color-bg--hover);

  color: var(--font-color--primary);
}

@mixin light-theme {
  --surface-color: #{$spwr-light};

  --font-color--primary: #{$spwr-dark};

  --link-color: #{$blue};
  --link-color-hover: #{$blue};

  --btn-color-bg: #{$blue};
  --btn-color-text: #{$white};
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #{$white};
  --btn-color-text--hover: #{$blue};
  --btn-color-border--hover: var(--btn-color-bg--hover);
}

// @mixin ultra-wide-bg($bg-color: $test-bg, $z-index: -1) {
//   &::before {
//     content: "";
//     isolation: isolate;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     translate: -50% 0;
//     width: 100vw;
//     height: 100%;
//     background-color: $bg-color;
//     z-index: $z-index;
//   }
// }

// Only using on 404 at the moment
@mixin full-viewport-section {
  @include mq-min(xxl) {
    height: clamp(750px, 100vh, 1250px);
  }

  @include mq-max(xxl) {
    height: clamp(650px, 100vh, 1100px);
  }

  @include mq-max(md) {
    height: clamp(500px, 100svh, 950px);
  }
}

// Home & Join pages
@mixin full-height-section {
  height: max(750px, calc(100lvh - var(--body-padding-sm-double)));
  padding: 0;

  @include mq-max(xxl) {
    height: max(620px, calc(100lvh - var(--body-padding-sm-double)));
  }

  @include mq-max(lg) {
    min-height: 850px;
  }
}

// // Platform Tools
@mixin partial-height-section {
  height: max(620px, 60vh);

  @include mq-max(xxl) {
    height: max(540px, 50vh);
  }

  @include mq-max(lg) {
    min-height: 450px;
  }
}

@mixin section-padding($type: regular) {
  padding-inline: var(--body-padding);
  padding-block: var(--body-padding-double);

  @if $type == thin {
    @include mq-min(lg) {
      padding-inline: calc(var(--body-padding) * 4);
    }
  }
}

@mixin section-fade {
  border-radius: var(--radius-lg);
  background: linear-gradient(to bottom, var(--surface-color-2) 10%, var(--background-color) 50%);
}

@mixin blue-gradient($dir: 180deg, $start: 30%, $end: 70%) {
  background: linear-gradient($dir, rgba($blue, 1) $start, rgba($blue, 0) $end);
}

@mixin top-fade-section {
  @include section-fade;
  margin-top: var(--top-spacing-header);
}

@mixin paragraph-width-snip {
  @include mq-min(md) {
    max-width: var(--paragraph-snip);
  }
  @include mq-max(md) {
    text-align: center;
  }
}

@mixin header-spacing {
  left: var(--body-padding-sm);

  @include mq-min(xxxl) {
    left: calc(50% - calc($content-width / 2) + var(--body-padding-sm));
  }
}

@mixin left-spacing {
  left: var(--body-padding);

  @include mq-min(xxxl) {
    left: calc(50% - calc($content-width / 2) + var(--body-padding));
  }
}

@mixin right-spacing {
  right: var(--body-padding-double);

  @include mq-min(xxxl) {
    right: calc(50% - calc($content-width / 2 - var(--body-padding-double)));
  }
}

//
// Flex Layout & Positioning
//

@mixin row-center($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

@mixin row-stretch($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: stretch;
}

@mixin row-start($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin row-end($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin column-center($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: center;
}

@mixin column-start($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-start;
}

@mixin column-end($justify-content: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: flex-end;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

// Other

@mixin hide-content {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
@mixin show-content {
  opacity: 1;
  pointer-events: all;
  user-select: auto;
}

@mixin mask-image($url) {
  mask-image: url($url);
  mask-size: contain;
  mask-repeat: no-repeat;
}

// Library

@mixin fill-text($color: rgba(255, 255, 255, 0.25)) {
  display: inline; // for fill line-wrap
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(currentColor, currentColor);
  -webkit-text-fill-color: $color;

  // filter: drop-shadow(0 0 1px grey); // optional for readability
  // background-size: 100%; // Alter this for the effect
}
