.classic-link {
  @include link-font-styles;
  position: relative;

  @include mq-motion-allow {
    transition: $ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    left: 0;
    height: 2px;
    background-color: currentColor;

    @include mq-motion-allow {
      transition: width $ease;
    }
  }

  @include desktop-hover {
    color: var(--link-color-hover);

    &::before {
      width: 100%;
    }
  }
}

.classic-list {
  list-style: initial;
}

.sr-only {
  @include sr-only;
}

// Reskin turns this into solid color from gradient
.section-solid-bg {
  // @include top-fade-section;
  @include top-solid-section;

  @include mq-min(lg) {
    padding-inline: var(--body-padding-double);
  }

  &__title {
    @include h3;
    color: var(--color-accent);

    @include mq-max(md) {
      @include h4;
      margin-block-end: var(--panel-gap);
      text-align: center;
    }
  }

  &__desc {
    @include paragraph-width-snip;
    margin-block-end: var(--section-gap);

    @include mq-max(md) {
      text-align: center;
      text-wrap: balance;
    }
  }
}

.stack-section {
  position: sticky;
  top: calc(var(--top-spacing-header) + var(--body-padding-sm-double));
  transition: $ease;

  &.scrolling-down {
    top: var(--body-padding-sm);
  }
}

.pin-steps {
  @include hide-content;
  @include column-start;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;

  .pin-step {
    background: linear-gradient(180deg, $blue, $white);
    flex: 1;
    width: 100%;
  }
}

body .hide-load {
  display: none; // fixes a strange issue when visiting page on prod, the video shows briefly then goes away
}

// Form Submit & 404 pages
.hero-alert {
  @include full-viewport-section;
  @include column-center;

  &__title {
    margin-block-end: 24px;
    text-align: center;

    span {
      color: var(--hero-color--primary);
    }
  }

  &__desc {
    margin-block-end: 48px;
    max-width: 750px;
    text-align: center;
    text-wrap: balance;
  }
}

// Media Query Utility, be mindful of flex vs block
@media all {
  .lg-up {
    display: none;

    @include mq-min(lg) {
      display: block;
    }
  }

  .lg-down {
    display: none;

    @include mq-max(lg) {
      display: block;
    }
  }

  .md-up {
    display: none;

    @include mq-min(md) {
      display: block;
    }
  }

  .md-down {
    display: none;

    @include mq-max(md) {
      display: block;
    }
  }

  .sm-up {
    display: none;

    @include mq-min(sm) {
      display: block;
    }
  }

  .sm-down {
    display: none;

    @include mq-max(sm) {
      display: block;
    }
  }
}

// CMS Tokens
@media all {
  .h5 {
    @include h5;
  }

  .text-stroke {
    -webkit-text-stroke: 1px var(--font-color--primary);
    color: transparent;
    font-weight: 500; // slightly above regular
  }

  .underline {
    text-decoration: underline;
  }

  .color-primary {
    color: var(--hero-color--primary);
  }
  .color-secondary {
    color: var(--hero-color--secondary);
  }
  .color-accent {
    color: var(--color-accent);
  }

  .small-title {
    @include mq-min(lg) {
      font-size: 0.55em;
      line-height: 1;
    }
  }
}
