$brand-font--heading: "Fander", system-ui, sans-serif;
$brand-font--body: "Geist", system-ui, sans-serif;

$spwr-white: #ffffff;
$spwr-grey-light: #dddddd;
$spwr-grey-dark: #797979;
$spwr-black: #141414;
$spwr-navy: #002d52;
$spwr-yellow: #fdfd00;
$spwr-orange: #ff8700;
$spwr-royal-blue: #095cfb;
$spwr-mid: #2f2f2f;

$sunder-ice: #d9d9d9;
$sunder-royal-light: #0058f5;
$sunder-royal: #074895;
$sunder-navy: #061a2a;
$sunder-midnight: #000014;

$black: $spwr-black;
$grey: $sunder-ice;
$white: $spwr-white;

$blue: $sunder-royal-light;
$blue-opaque: rgba($sunder-royal-light, 0.8);
$red: #dc143c;

$content-width: 1750px;

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--loader: 5;
$z-index--video-overlay: 6;

// Figma Font size (body)
$body-text-1: 24px;
$body-text-2: 22px;
$body-text-3: 15px;

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.32s ease;
$ease-c: 0.82s $cubic-ease;

// Library
// $magnet: translate 2.5s $cubic-ease-back-strong;
// $magnet: translate 0.025s ease-in;

// Debugging
$test: 2px dashed rgba(coral, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --background-color: #{$spwr-black};

  --hero-color--primary: #{$spwr-yellow};

  // --font-color--primary: #{$spwr-yellow};
  --font-color--primary: #{$spwr-white};
  --font-color--secondary: #{$grey};
  --font-color--error: #{$red};

  --color-accent: var(--hero-color--primary);

  --font-family-heading: #{$brand-font--heading};
  --font-family-body: #{$brand-font--body};

  // Button/Link Colors
  --btn-color-bg: #{$black};
  --btn-color-text: #{$white};
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #{$white};
  --btn-color-text--hover: #{$black};
  --btn-color-border--hover: var(--btn-color-bg--hover);

  --btn-color-2-bg: #{$white};
  --btn-color-2-text: #{$blue};
  --btn-color-2-border: var(--btn-color-2-text);
  --btn-color-2-bg--hover: #{$blue};
  --btn-color-2-text--hover: #{$white};
  --btn-color-2-border--hover: var(--btn-color-2-bg--hover);

  --btn-padding: 8px 20px;

  --link-color: #{$spwr-white};
  --link-color-hover: #{$spwr-yellow};

  // Surface Colors
  --surface-color: #{$spwr-mid}; // Nav menu bg || ethos bottom when in light theme
  --surface-color-2: #{$spwr-mid}; // hero-img-partial bg, form field bg

  // Size & Spacing
  --body-padding: 24px;
  --body-padding-double: calc(var(--body-padding) * 2); // account for edges
  --body-padding-sm: 12px;
  --body-padding-sm-double: calc(var(--body-padding-sm) * 2); // account edges

  --section-gap: 64px;
  --section-gap-double: calc(var(--section-gap) * 2);
  --section-gap-half: calc(var(--section-gap) / 2);

  --panel-gap: 16px;

  --content-width: #{$content-width};

  --full-width-snip: calc(100vw - var(--body-padding-double));
  --full-width-snip-sm: calc(100vw - var(--body-padding-sm-double));

  --full-height-snip: calc(100vh - var(--body-padding-double));
  --full-height-snip-sm: calc(100vh - var(--body-padding-sm-double));

  --paragraph-snip: 572px; // for larger than md

  --section-min-height: 720px;

  --header-height: 36px;
  --header-max-width: calc(
    var(--content-width) - var(--body-padding-sm-double)
  ); // used on both header and nav menu
  --logo-offset: 4px;
  --logo-height: calc(var(--header-height) - var(--logo-offset));

  --top-spacing-header: calc(var(--header-height) + var(--body-padding) * 2);

  --border-bold-girth: 4px;

  --radius-sm: 6px; // form input fields, carousel images
  --radius: 8px; // full-width panels & nav
  --radius-lg: 24px; // sections & footer
  --radius-btn: 64px;

  // Components / JS
  --carousel-gap: var(--panel-gap);

  @media (max-width: 1512px) {
    --section-min-height: 580px;

    --section-gap: 48px;
  }

  @media (max-width: 1200px) {
    --border-bold-girth: 3px;
  }

  @media (max-width: 1024px) {
    --section-gap--lg: 24px;
    --header-height: 32px;
    --border-bold-girth: 2px;
  }

  @media (max-width: 768px) {
    --body-padding: 18px;

    --logo-offset: 6px;

    --panel-gap: 12px;

    --radius: 5px;
  }

  @media (max-width: 480px) {
    --body-padding: 12px;
  }
}

// If you add a dark/light theme
// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #{$black};
//     --font-color--primary: #{$white};
//   }
// }
