$brand-font--heading: "Fander", system-ui, sans-serif;
$brand-font--body: "Geist", system-ui, sans-serif;

$white: #ffffff;
$sand: #f9f4ed;
$grey-light: #dddddd;
$grey-dark: #797979;
$black: #141414;
$navy: #002d52;
$yellow: #fdfd00;
$orange: #ff8700;
$royal-blue: #095cfb;

$gradient-root: $royal-blue;
$gradient-root-2: $black;

$sunder-royal-light: #0058f5;
$sunder-royal: #074895;

$blue: $sunder-royal-light;
$red: #dc143c;

$content-width: 1750px;

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--loader: 5;
$z-index--video-overlay: 6;

// Figma Font size (body)
$body-text-1: 24px;
$body-text-2: 18px;
$body-text-3: 15px;

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(1, 0.07, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.32s ease;
$ease-c: 0.82s $cubic-ease;

// Library
// $magnet: translate 2.5s $cubic-ease-back-strong;
// $magnet: translate 0.025s ease-in;

// Debugging
$test: 2px dashed rgba(coral, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --background-color: #{$sand};

  --hero-color--primary: #{$yellow};
  --accent-color--primary: #{$royal-blue};

  --font-color--primary: #{$black};
  --font-color--secondary: #{$grey-light};
  --font-color--error: #{$red};

  // --color-accent: var(--hero-color--primary);

  --font-family-heading: #{$brand-font--heading};
  --font-family-body: #{$brand-font--body};

  // Button/Link Colors
  --btn-color-bg: #{$white};
  --btn-color-text: #{$black};
  --btn-color-border: var(--btn-color-bg);
  --btn-color-bg--hover: #{$yellow};
  --btn-color-text--hover: #{$black};
  --btn-color-border--hover: var(--btn-color-bg--hover);

  --btn-color-2-bg: #{$white};
  --btn-color-2-text: #{$blue};
  --btn-color-2-border: var(--btn-color-2-text);
  --btn-color-2-bg--hover: #{$blue};
  --btn-color-2-text--hover: #{$white};
  --btn-color-2-border--hover: var(--btn-color-2-bg--hover);

  --btn-padding: 10px 20px;

  --link-color: #{$white};
  --link-color-hover: #{$yellow};

  // Surface Colors
  --surface-color: #{$navy}; // Nav menu bg || ethos bottom when in light theme
  --surface-color-2: #{$white}; // hero-img-partial bg, form field bg

  // Size & Spacing
  --body-padding: 24px;
  --body-padding-double: calc(var(--body-padding) * 2); // account for edges
  --body-padding-sm: 12px;
  --body-padding-sm-double: calc(var(--body-padding-sm) * 2); // account edges

  --section-gap: 64px;
  --section-gap-double: calc(var(--section-gap) * 2);
  --section-gap-half: calc(var(--section-gap) / 2);

  --panel-gap: 16px;

  --content-width: #{$content-width};

  --full-width-snip: calc(100vw - var(--body-padding-double));
  --full-width-snip-sm: calc(100vw - var(--body-padding-sm-double));

  --full-height-snip: calc(100vh - var(--body-padding-double));
  // --full-height-snip-sm: calc(100vh - var(--body-padding-sm-double));
  --full-height-snip-lg: calc(100vh - calc(var(--body-padding-double) + var(--header-height)));

  --paragraph-snip: 650px;
  --paragraph-snip-sm: 550px;
  --paragraph-snip-lg: 916px;

  --section-min-height: 720px;

  --header-height: 80px;
  --header-max-width: calc(
    var(--content-width) - var(--body-padding-sm-double)
  ); // used on both header and nav menu
  --logo-offset: 4px;
  --logo-height: 32px;

  --top-spacing-header: calc(var(--header-height) + var(--body-padding-sm));

  --border-bold-girth: 4px;

  --radius: 6px; // full-width panels & nav
  --radius-sm: var(--radius); // form input fields, carousel images
  --radius-lg: 24px; // sections & footer
  --radius-btn: 64px;

  // Components / JS
  --carousel-gap: var(--panel-gap);

  @media (max-width: 1512px) {
    --section-min-height: 580px;

    --section-gap: 48px;
  }

  @media (max-width: 1200px) {
    --border-bold-girth: 3px;
  }

  @media (max-width: 1024px) {
    --section-gap--lg: 24px;
    --header-height: 64px;
    --border-bold-girth: 2px;
  }

  @media (max-width: 768px) {
    --body-padding: 18px;

    --logo-offset: 6px;

    --btn-padding: 7px 14px;

    --panel-gap: 12px;
  }

  @media (max-width: 480px) {
    --body-padding: 12px;
  }
}
