// Base
// prettier-ignore
@import "variables",
 "mixins",
 "globals",
 "util",
 "fonts",
 "animations";

// Pages
// prettier-ignore
@import "./pages/home",
 "./pages/join",
 "./pages/oss",
 "./pages/spwr-way";

// Components
// prettier-ignore
@import "./components/cta-group",
"./components/carousel-gallery",
"./components/carousel-swiper",
"./components/collage",
"./components/form-redirect",
"./components/icon-svg",
"./components/logo-link",
"./components/portrait-gradient",
"./components/social-media",
"./components/video-overlay";

// Partials
// prettier-ignore
@import "./partials/partial-img-hero",
"./partials/partial-logos",
"./partials/partial-quote";
