.partial-quote {
  @include column-center;
  gap: var(--section-gap);
  padding-block: var(--section-gap-double);

  @include mq-min(xl) {
    padding-inline: calc(var(--body-padding-double) * 2);
  }

  .quote {
    @include row-center;
    gap: var(--section-gap-double);

    @include mq-max(xl) {
      gap: var(--section-gap);
    }

    @include mq-max(lg) {
      flex-direction: column;
    }

    &:nth-of-type(even) {
      @include mq-min(lg) {
        flex-direction: row-reverse;
      }
    }

    .portrait-gradient {
      // See _portrait.scss for full styles
      width: clamp(280px, 100%, 520px);
      aspect-ratio: 1;

      @include mq-min(lg) {
        width: 32%;
        min-width: 400px;
      }

      &::before {
        @include dark-gradient(0deg, 0%, 64%);
      }
    }

    &__text-block {
      @include mq-min(lg) {
        width: 60%;
      }
      @include mq-max(lg) {
        text-align: center;
        margin-block-end: var(--section-gap);
      }

      &-title {
        @include h3;

        @include mq-max(lg) {
          @include h4;
          text-align: center;
          margin-block-end: var(--section-gap-half);
        }
      }

      blockquote {
        @include mq-max(lg) {
          text-wrap: balance;
        }
      }
    }
  }
}
