// .section-logos {
//   @include section-solid;
// }

.logos-group {
  @include section-solid;
  padding-block-start: var(--section-gap);

  @include mq-min(lg) {
    padding-inline: var(--body-padding);
  }

  & + & {
    margin-block-start: var(--space-between-sections);
  }

  &__h2 {
    @include h3;
    text-align: center;
  }

  &__p {
    margin-block-end: var(--section-gap-half);
    margin-inline: auto;
    text-align: center;
    text-wrap: balance;
    max-width: var(--paragraph-snip-lg);
  }

  &__imgs {
    @include row-center;
    flex-wrap: wrap;

    // img {

    // @include mq-motion-allow {
    //   opacity: 0;

    //   &.gsap-animated {
    //     opacity: 1;
    //   }
    // }
    // }

    &.grid-5 {
      img {
        max-width: 20%;

        // // fade in transition per row. This setup only looks good on desktop :(
        // @for $i from 1 through 5 {
        //   &:nth-of-type(#{$i}),
        //   &:nth-of-type(#{$i + 5}),
        //   &:nth-of-type(#{$i + 10}),
        //   &:nth-of-type(#{$i + 15}),
        //   &:nth-of-type(#{$i + 20}) {
        //     transition: opacity 0.25s ease 2s; // persist for a moment

        //     &.gsap-animated {
        //       transition: opacity 1s ease #{0.125s + (($i - 1) * 0.05s)};
        //     }
        //   }
        // }

        @media all {
          @include mq-max(xl) {
            max-width: 25%;

            // // fade in transition per row, not responsive
            // @for $i from 1 through 4 {
            //   &:nth-of-type(#{$i}),
            //   &:nth-of-type(#{$i + 4}),
            //   &:nth-of-type(#{$i + 8}),
            //   &:nth-of-type(#{$i + 12}),
            //   &:nth-of-type(#{$i + 16}) {
            //     transition: 0.25s ease 2s; // persist for a moment

            //     &.gsap-animated {
            //       transition: 1s ease #{0.125s + (($i - 1) * 0.05s)};
            //     }
            //   }
            // }
          }

          @include mq-max(lg) {
            max-width: 33%;
          }

          @include mq-max(md) {
            max-width: 50%;
          }
        }
      }
    }

    &.grid-4 {
      img {
        max-width: 25%;

        @include mq-max(lg) {
          max-width: 33%;
        }

        @include mq-max(md) {
          max-width: 50%;
        }

        // // fade in transition per row, not responsive
        // @for $i from 1 through 4 {
        //   &:nth-of-type(#{$i}),
        //   &:nth-of-type(#{$i + 4}),
        //   &:nth-of-type(#{$i + 8}),
        //   &:nth-of-type(#{$i + 12}),
        //   &:nth-of-type(#{$i + 16}) {
        //     transition: 0.25s ease 2s; // persist for a moment

        //     &.gsap-animated {
        //       transition: 1s ease #{0.125s + (($i - 1) * 0.05s)};
        //     }
        //   }
        // }
      }
    }

    &.grid-3 {
      img {
        max-width: 33%;

        @include mq-max(md) {
          max-width: 50%;
        }
      }
    }

    &.grid-sm-1 {
      img {
        @include mq-max(sm) {
          max-width: 100%;
        }
      }
    }
  }
}
