.partial-img-hero {
  @include dark-theme;
  padding: var(--body-padding);

  &__inner {
    @include column-start(flex-end);
    isolation: isolate;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    padding: var(--body-padding);

    @include mq-max(lg) {
      padding-block: var(--body-padding-double);
    }

    @include mq-max(md) {
      @include column-center(flex-start);
    }

    // Blue gradient
    &::before {
      @include dark-gradient(60deg, 5%, 90%);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;

      @include mq-max(md) {
        @include dark-gradient(180deg, 15%, 120%);
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    z-index: -2;
    user-select: none;
  }

  &__h1,
  &__h2 {
    margin-block-end: var(--section-gap-half);

    @include mq-max(md) {
      text-align: center;
    }
  }

  &__h1 {
    @include h1;

    @include mq-max(lg) {
      @include h3;
    }
  }

  &__h2 {
    @include h3;
  }

  &__graphic {
    width: 400px;
    margin-block-end: var(--body-padding);

    @include mq-max(md) {
      width: 50%;
      margin-block-end: var(--section-gap);
    }
  }

  &__footer {
    width: 100%;
  }

  &__p {
    @include paragraph-width-snip;
    margin-block-end: var(--section-gap-double);
  }

  &__sub-content {
    @include light-theme;

    @include mq-min(md) {
      display: none;
    }

    .sub-content__p {
      margin-block: var(--section-gap-half);
      text-align: center;
    }
  }

  .cta-group {
    @include mq-min(md) {
      justify-content: flex-end;
    }
  }

  //
  // Overrides
  //

  &.has-subcontent {
    .partial-img-hero__h1 {
      @include mq-max(md) {
        margin-block-end: 196px;
      }
    }

    .partial-img-hero__footer {
      @include mq-max(md) {
        display: none;
      }
    }

    .cta-group {
      @include light-theme;
    }
  }

  &.tools {
    .partial-img-hero__inner {
      @include partial-height-section;

      background-color: $grey-light;
      padding: calc(var(--body-padding-double) * 2) var(--body-padding-double)
        var(--body-padding-double); // overrides with original above

      // Blue gradient
      &::before {
        background: linear-gradient(
          60deg,
          rgba($gradient-root-2, 1) 30%,
          rgba($gradient-root-2, 0) 70%
        );

        @include mq-max(md) {
          background: linear-gradient(
            180deg,
            rgba($gradient-root-2, 1) 36%,
            rgba($gradient-root-2, 0) 80%
          );
        }
      }
    }

    .partial-img-hero__bg {
      @include mq-min(md) {
        right: -12%;
      }
      @include mq-max(md) {
        scale: 1.25;
      }
    }

    .partial-img-hero__p {
      margin: 0;
      max-width: var(--paragraph-snip-sm);
    }

    .partial-img-hero__footer {
      @include row-end(space-between);

      @include mq-max(md) {
        @include column-center(space-between);
        flex: 1;
      }
    }

    .cta-group {
      @include light-theme;
    }
  }

  // One-off tool requests (Platform)
  &.enzy {
    .partial-img-hero__bg {
      @include mq-max(lg) {
        top: -7.5%;
        scale: 1.75;
      }
    }
  }

  &.merdeka {
    // top: 48px;

    .partial-img-hero__bg {
      width: 92%;

      @include mq-max(lg) {
        scale: 1;
        width: 100%;
      }
    }
  }

  &.ciq {
    .partial-img-hero__inner::before {
      @include mq-max(md) {
        background: linear-gradient(
          180deg,
          rgba($gradient-root-2, 1) 56%,
          rgba($gradient-root-2, 0) 100%
        );
      }
    }

    .partial-img-hero__bg {
      object-fit: contain;
      scale: 1.125;
      top: 34%;

      @include mq-min(lg) {
        top: -2%;
        right: -24%;
      }
    }
  }

  // Platform page
  &.platform-page {
    margin-block-start: var(--top-spacing-header);
    padding-block: var(--body-padding) var(--body-padding-half);
    padding-inline: 0;

    @include mq-min(xl) {
      padding-block: var(--body-padding-half);
    }
  }

  // OSS section (The SPWR Way)
  &.oss-section {
    padding-block-start: var(--body-padding-double);

    .partial-img-hero__inner {
      padding: var(--body-padding-double); // overrides with original above

      &::before {
        @include mq-max(md) {
          background: linear-gradient(0deg, rgba($black, 1) 15%, rgba($black, 0) 120%);
        }
      }
    }

    .partial-img-hero__graphic {
      width: 216px;

      @include mq-max(lg) {
        width: 180px;
      }
      @include mq-max(md) {
        width: min(75%, 250px);
      }
    }

    .partial-img-hero__p {
      @include mq-min(md) {
        margin: 0;
      }
    }
  }

  // OSS hero (OSS Page)
  &.oss-page {
    margin-block-start: var(--top-spacing-header);

    .partial-img-hero__bg {
      object-position: 50% 25%;

      @include mq-max(md) {
        margin-block-start: 156px;
        object-position: 100% 50%;
      }

      @include mq-max(sm) {
        object-position: 90% 50%;
      }
    }

    .partial-img-hero__inner::before {
      @include mq-max(md) {
        @include dark-gradient(180deg, 40%, 100%);
      }
    }
  }
}

.section-tools {
  padding-inline: 0;

  @include mq-min(lg) {
    padding-block-end: 0;
  }
}
