.swiper {
  --swiper-navigation-color: var(--hero-color--primary);

  margin-block: var(--section-gap);

  .swiper-wrapper {
    .swiper-slide {
      border-radius: var(--radius);
      overflow: hidden;

      picture {
        height: 100%;

        img {
          object-fit: cover;
        }
      }
    }
  }

  div.swiper-pagination-progressbar {
    top: auto;
    bottom: 16px;
    width: 66%;
    background: var(--surface-color-accent);
    height: 3px;

    @include mq-max(md) {
      display: none;
    }

    .swiper-pagination-progressbar-fill {
      background: var(--hero-color--primary);
    }
  }

  .controls {
    min-height: 24px; // Edge case for oss history, where no cta button is added... but maybe they still want the carousel?
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: auto;
    left: auto;

    &::after {
      display: none;
    }

    .icon-svg {
      --icon-size: 1.5em;
    }

    @include mq-max(md) {
      display: none;
    }
  }
  .swiper-button-prev {
    right: 48px;
    bottom: 0;
    rotate: 180deg;
  }

  .swiper-button-next {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }

  // SPWR Way Page
  &.video-carousel {
    margin-block-end: var(--section-gap-double);

    .swiper-wrapper {
      margin-block-end: var(--section-gap);

      @include mq-max(xxl) {
        margin-block-end: var(--section-gap-double);
      }
    }

    .swiper-slide {
      position: relative;
      @include primary-border-hover;

      @include mq-max(lg) {
        width: 250px; // fixes sizing
        min-width: 500px;
      }

      @include mq-max(md) {
        min-width: 320px;
      }

      @include mq-max(sm) {
        min-width: 296px;
      }

      @include desktop-hover {
        // &::after {
        //   @include inset-shadow-border;
        // }

        .badge {
          opacity: 1;
          translate: 0 0;
        }

        img {
          // object-view-box: inset(0%);
          scale: 1;
        }
      }

      &.swiper-slide-active {
        // Mimic hover state above, consider making these a mixin?
        @include mq-max(lg) {
          border: 2px solid var(--accent-color--primary);

          .badge {
            opacity: 1;
            translate: 0 0;
          }

          img {
            scale: 1;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $ease;
      }

      .badge {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 14px;
        opacity: 0;
        translate: 0 -12px;
        transition: $ease;
        z-index: 1;

        // @include mq-max(lg) {
        //   right: auto;
        //   left: 16px;
        // }

        @include mq-max(sm) {
          top: 8px;
          right: 8px;
        }
      }

      img {
        // object-view-box: inset(5%);
        scale: 1.025;
        transition: $ease;
      }
    }

    // .swiper-button-prev,
    // .swiper-button-next {
    //   @include mq-max(md) {
    //     display: none;
    //   }
    // }
  }

  // OSS Page
  &.img-carousel {
    width: 100%;

    .swiper-wrapper {
      margin-block-end: var(--section-gap-half);

      @include mq-max(xxl) {
        margin-block-end: var(--section-gap);
      }
    }

    .swiper-slide {
      // height: 320px;
      width: 250px;
      aspect-ratio: 1 / 1.15;
    }

    .carousel__controls-cta {
      @include mq-max(md) {
        @include row-center;
      }
    }
  }
}
