.carousel-gallery {
  &__img {
    @include hide-content;
    @include absolute-center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity $ease;

    &.active {
      @include show-content;
    }
  }

  // SPWR Way — Ethos
  &--ethos {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;

      @include mq-motion-allow {
        opacity: 0;
        transition: opacity $ease;

        &.active {
          opacity: 1;
        }
      }
    }

    .ethos-img-1 {
      opacity: 1;
    }
  }

  // Join page
  &--join {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
