.cta-1,
.cta-2 {
  @include link-font-styles;
  border: 1px solid var(--btn-color-border);
  border-radius: var(--radius-btn);
  background: var(--btn-color-bg);
  color: var(--btn-color-text);
  padding: var(--btn-padding);
  flex-shrink: 0;

  @include mq-motion-allow {
    transition: $ease;
  }

  @include desktop-hover {
    border-color: var(--btn-color-border--hover);
    background: var(--btn-color-bg--hover);
    color: var(--btn-color-text--hover);
  }

  &:active {
    scale: 0.94;
  }

  &.outline {
    --btn-color-border--hover: var(--btn-color-bg);
  }
}

.cta-2 {
  border: 1px solid var(--btn-color-2-border);
  background: var(--btn-color-2-bg);
  color: var(--btn-color-2-text);

  @include desktop-hover {
    border-color: var(--btn-color-2-border--hover);
    background: var(--btn-color-2-bg--hover);
    color: var(--btn-color-2-text--hover);
  }
}

.cta-group {
  @include row-center;
  gap: 24px;
  flex-shrink: 0;

  @include mq-max(lg) {
    gap: 16px;
  }

  @include mq-max(md) {
    gap: 8px;
  }

  @include mq-max(xs) {
    flex-direction: column;
  }
}
