// .form-feedback,
.form-redirect {
  @include body-font-styles(xs);
  @include column-center;
  gap: 1em;
  width: min(100%, 648px);

  .form-block {
    position: relative;
    width: 100%;
    height: 3em;

    @media (max-height: $max-height-md) {
      height: 2.75em;
    }

    &:hover,
    &:focus-within {
      .label {
        color: var(--input-field-color-hover-on-background);
      }
    }

    // &--discovery {
    //   height: 6em;
    // }

    &--awareness {
      @include row-center;
      gap: 1ch;
      height: 2em;

      .checkbox {
        accent-color: var(--hero-color--primary);
        width: 16px;
        height: 16px;
        cursor: pointer;
      }

      .checkbox-label {
        font-size: inherit;
        cursor: pointer;
      }
    }

    .label,
    .input {
      @include row-center(flex-start);
      padding: 12px;
      font-size: inherit;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0; // Device compatibility
      outline: none;

      &:focus {
        border: 2px solid var(--hero-color--primary);
      }

      // &--textarea {
      //   align-items: flex-start;
      // }
    }

    .label {
      color: var(--input-field-color-on-background);
      pointer-events: none;
      transition: 0.25s ease;
      // opacity: 0.75;
      white-space: nowrap;

      .nested-label {
        font-size: max(0.9em, 13px);
        font-style: oblique;
        translate: 12px -6px;
        opacity: 0;
        visibility: hidden;
        transition:
          0.6s $cubic-ease,
          opacity 0s;

        &.text-error {
          color: var(--font-color--error);
        }
      }
    }

    .input {
      border: 1px solid transparent;
      background-color: var(--surface-color-2);
      border-radius: var(--radius-sm);
      resize: none;
      transition:
        border $ease,
        background-color $ease,
        color $ease;

      @include desktop-hover {
        border: 1px solid var(--hero-color--primary);
        background-color: var(--input-field-color-hover-background);
      }
    }
  }

  .form-block-group {
    display: flex;
    gap: 12px;
    width: 100%;
  }

  // Filled form field
  .input:not(:placeholder-shown).input:not(focus) {
    background-color: var(--input-field-color-hover-background);
    color: var(--input-field-color-hover-on-background);
  }

  .input:focus ~ .label,
  .input:not(:placeholder-shown).input:not(focus) ~ .label,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    // translate: 0 -100%;
    // font-size: 0.8em;
    opacity: 0;

    // .nested-label {
    //   translate: 8px 0;
    //   opacity: 1;
    //   visibility: visible;

    //   transition: 0.6s $cubic-ease, opacity 0.6s $cubic-ease 0.4s;
    // }
  }

  .recaptcha {
    width: 304px;
    height: 78px;

    // @include mq-max(sm) {
    //   scale: 0.8;
    // }
  }

  .form-footer {
    display: flex; // align-items: shrinks cta-1
    gap: 16px;
  }
}

// .form-feedback {
//   .form-footer {
//     @include column-center;
//     gap: 12px;
//     width: 100%;

//     .status-message {
//       opacity: 0;
//       visibility: hidden;
//       transition: $ease;

//       &.active {
//         opacity: 1;
//         visibility: visible;
//       }
//     }
//   }
// }
