.social-media {
  @include column-end;

  &:hover,
  &:focus-within {
    .social-media__label {
      translate: 0 -25%;
      transition: $ease;
    }

    .social-media__links {
      @for $i from 1 through 10 {
        li:nth-of-type(#{$i}) {
          transition: 0.3s ease 0.02s * $i;
        }
      }

      li {
        opacity: 1;
      }
    }
  }

  &__label {
    @include heading-text;
    letter-spacing: -1px;
    color: var(--font-color--primary);
    transition: $ease 0.2s;
    font-size: 24px;

    @include mq-max(lg) {
      font-size: 16px;
    }

    @include mq-mouse {
      translate: 0 100%;
    }

    @include mq-touch {
      translate: 0 -50%;
    }
  }

  &__links {
    display: flex;
    gap: 16px;

    @include mq-max(md) {
      gap: 12px;
    }

    @for $i from 1 through 10 {
      li:nth-of-type(#{$i}) {
        transition: 0.3s ease 0.02s * $i;
      }
    }

    li {
      @include mq-mouse {
        opacity: 0;
      }
    }
  }

  &__link {
    --link-size: 36px;

    @include row-center;
    width: var(--link-size);
    height: var(--link-size);
    overflow: hidden;
    transition: 0.25s ease;

    @include mq-max(lg) {
      --link-size: 28px;
    }

    // @include desktop-hover {
    //   .social-media__link-img {
    //     background: white; // Delete me, overriding vars in nav menu social media
    //   }
    // }

    &-img {
      background: currentColor;
      mask-size: cover;
      mask-position: center;
      width: 100%;
      height: 100%;
      transition: $ease;
    }
  }

  &.no-label {
    .social-media__links {
      margin-top: 0;

      li {
        opacity: 1;
      }
    }
  }
}
