.main-home {
  // max-width: 100vw; // toggle for ultra-wide behavior
  padding: var(--body-padding-sm);

  .hero {
    $panel-ease: 0.75s ease;
    --logo-width: min(90%, 380px);

    // @include dark-theme;
    @include row-center;
    @include full-height-section;
    gap: var(--body-padding-sm);

    @include mq-max(xxl) {
      --logo-width: min(90%, 320px);
    }

    @include mq-max(lg) {
      flex-direction: column-reverse;
    }

    &:has(.sunder-external:hover) .sunder-internal,
    &:has(.sunder-internal:hover) .sunder-external {
      &::before {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &:has(.sunder-external:hover) .sunder-internal {
      @include mq-max(lg) {
        flex: 1;

        &::after {
          height: 0;
          opacity: 0;
        }

        .hero-panel__logo {
          top: 50%;
        }

        .hero-panel__text {
          opacity: 0;
          top: 50%;
        }
      }
    }

    .hero-panel {
      --children-gap: 48px;

      @include row-center;
      position: relative;
      isolation: isolate;
      background-position: center;
      background-size: cover;
      border-radius: var(--radius);
      height: 100%;
      flex: 1;
      padding-block-start: 150px;
      overflow: hidden;
      cursor: pointer;

      @include mq-max(xxl) {
        --children-gap: 36px;
      }

      @include mq-max(xl) {
        --children-gap: 36px;
      }

      @include mq-max(lg) {
        width: 100%;
        justify-content: space-between;
        padding-block: 24px 64px;
      }

      @include mq-motion-allow {
        transition: $panel-ease;
      }

      &:hover,
      &:focus-within {
        flex: 5;

        &::before {
          background-color: rgba(0, 0, 0, 0.25);
        }

        &::after {
          opacity: 1;
          width: 100%;
          height: 100%;
        }

        .hero-panel__logo {
          @include mq-max(lg) {
            top: var(--section-gap-double);
          }

          @include mq-min(lg) {
            translate: calc(-100% - var(--children-gap)) -50%;
          }
        }

        .hero-panel__text {
          opacity: 1;

          @include mq-max(lg) {
            top: calc(75% - var(--section-gap-double));
          }

          @include mq-min(lg) {
            translate: calc(0% + var(--children-gap)) -5.4ch;
          }

          @include mq-motion-allow {
            transition: $panel-ease 0.32s;
          }
        }
      }

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: -1;

        @include mq-motion-allow {
          transition: $panel-ease;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(var(--direction), $gradient-root 0%, transparent 100%);
        transition: opacity $ease-c, width 0.75s ease, height 0s;

        @include mq-min(lg) {
          width: 50%;
        }
        @include mq-max(lg) {
          height: 50%;
          transition: opacity $ease-c, width 0s, height 0.75s ease;
        }
      }

      &__bg-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        z-index: -2;
      }

      &__logo {
        @include absolute-center;
        width: var(--logo-width);
        aspect-ratio: 2 / 1;

        @include mq-motion-allow {
          transition: $panel-ease;
        }

        @include mq-max(md) {
          width: min(55%, 320px);
        }
      }

      &__text {
        @include dark-theme;
        @include column-center;
        @include absolute-center;
        opacity: 0;
        flex-shrink: 0;
        width: var(--logo-width);

        @include mq-min(lg) {
          translate: calc(0% + 12px) -5.4ch;
          @include column-start;
        }

        @include mq-motion-allow {
          transition: 0.24s ease;
        }
      }

      &__title {
        @include column-start;
        margin-block: 32px 64px;
        white-space: nowrap;
        gap: 1ch;

        @include mq-max(lg) {
          @include column-center;
          text-align: center;
        }

        &-sm {
          @include h5;

          @include mq-max(xxl) {
            font-size: min(1.75vw, 24px);
          }

          @include mq-max(lg) {
            font-size: 20px;
          }
        }

        &-lg {
          @include h3;

          @include mq-max(xxl) {
            font-size: min(4vw, 55px);
          }

          @include mq-max(lg) {
            @include h4;
          }
        }
      }
    }

    .sunder-internal {
      // Default to show panel expanded on mobile only
      @include mq-max(lg) {
        flex: 5;

        &::after {
          opacity: 1;
          width: 100%;
          height: 100%;
        }

        .hero-panel__logo {
          top: var(--section-gap-double);
        }

        .hero-panel__text {
          opacity: 1;
          top: calc(75% - var(--section-gap-double));
        }
      }

      &::after {
        --direction: to right;
        left: 0;

        @include mq-max(lg) {
          --direction: to top;
          top: auto;
          bottom: 0;
        }
      }
    }

    .sunder-external {
      @include mq-max(lg) {
        &::before {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

      &::after {
        --direction: to left;
        right: 0;

        @include mq-max(lg) {
          --direction: to top;
          top: auto;
          bottom: 0;
        }

        // @include mq-max(lg) {
        //   --direction: to bottom;
        // }
      }
    }
  }
}
