.main-join {
  padding-inline: var(--body-padding-sm);
  padding-block-start: var(--body-padding-half);

  .hero {
    $join-min-height: 580px;

    @include row-start;
    padding: 0;
    gap: var(--body-padding-half);
    margin-block-start: calc(var(--header-height) + var(--body-padding-sm));
    height: var(--full-height-snip-header);
    min-height: $join-min-height;
    padding-block-end: var(--body-padding-sm);

    @include mq-max(lg) {
      margin-block-start: calc(var(--header-height) + var(--body-padding));
      padding-block-end: var(--body-padding);
    }

    > * {
      width: 100%;

      @include mq-min(lg) {
        width: 50%;
      }
    }

    // .carousel-gallery--join {
    // see _carousel-gallery.scss
    // }
    .carousel-panel,
    .form-panel {
      height: 100%;
      overflow: hidden;
      border-radius: var(--radius);
    }

    .carousel-panel {
      position: relative;
      z-index: -1;

      &::before {
        content: "";

        @include mq-max(lg) {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba($navy, 0.75);
          z-index: 1;
        }
      }
    }

    .form-panel {
      @include column-center;
      @include section-solid;
      border-radius: var(--radius); // to override 'section-solid' mixin
      align-self: center;
      padding-block: 128px 64px;
      padding-inline: var(--body-padding);
      gap: 96px;
      overflow-y: auto;

      @media all {
        @media (max-height: 680px) {
          padding-block: 248px 64px;
        }

        @include mq-max(xxl) {
          gap: 24px;
        }

        @include mq-max(xl) {
          padding-block: calc(var(--section-gap) * 3);
        }

        @include mq-max(lg) {
          background: transparent;
          position: absolute;
          top: calc(var(--header-height) + var(--body-padding));
          height: calc(var(--full-height-snip-header) - var(--body-padding));
          min-height: $join-min-height;
          padding-inline: var(--body-padding-double);
          padding-block-start: 248px;
          translate: 0 8px;
        }
      }

      &__title {
        @include h1;
        @include column-center;
        text-align: center;

        @include mq-max(lg) {
          @include h3;
        }

        .title-sm {
          @include h4;

          @include mq-max(lg) {
            @include h3;
          }
        }

        @media all {
          @include mq-max(xxl) {
            margin-block-end: 24px;
          }

          @include mq-max(lg) {
            @include column-center;
            text-align: center;
          }

          @include mq-max(sm) {
            width: 150px;
          }
        }
      }
    }
  }
}
