.main-join {
  padding-inline: var(--body-padding-sm);

  .hero {
    @include row-start;
    padding: 0;
    gap: var(--body-padding);
    margin-block-start: calc(var(--header-height) + var(--body-padding-sm));

    > * {
      width: 100%;

      @include mq-min(lg) {
        width: 50%;
      }
    }

    // .carousel-gallery--join {
    // see _carousel-gallery.scss
    // }

    .form-panel {
      @include column-center;
      align-self: center;
      padding-block: var(--section-gap);
      gap: 96px;

      @media all {
        @include mq-max(xxl) {
          gap: 24px;
        }

        @include mq-max(xl) {
          padding-block: calc(var(--section-gap) * 3);
        }

        @include mq-min(lg) {
          padding-inline-end: var(--body-padding-sm);
        }
      }

      &__title {
        @include h3;

        @media all {
          @include mq-max(xxl) {
            margin-block-end: 24px;
          }

          @include mq-max(lg) {
            @include column-center;
            text-align: center;
          }

          @include mq-max(sm) {
            width: 150px;
          }
        }
      }
    }
  }
}
