.section-oss-history {
  padding-inline: var(--body-padding-double);
  padding-block-end: var(--section-gap-double);

  @include mq-max(lg) {
    @include column-center;
  }

  &__title {
    text-align: start;
  }

  &__desc {
    margin-inline: 0;
    text-align: start;
    max-width: var(--paragraph-snip-sm);

    @include mq-max(lg) {
      text-align: center;
      text-wrap: balance;
    }
  }

  &__events {
    @include column-start;
    gap: var(--section-gap-double);

    @include mq-max(lg) {
      width: 100%;
    }
  }

  .service-event {
    @include row-center(flex-start);
    gap: calc(var(--section-gap) * 4);
    width: 100%;

    @include mq-max(xxl) {
      gap: calc(var(--section-gap) * 3);
    }

    @include mq-max(lg) {
      flex-direction: column;
      gap: var(--section-gap);
    }

    &__graphic {
      width: min(18%, 320px);

      @include mq-max(lg) {
        width: 180px;
      }

      @include mq-min(xl) {
        margin-inline-start: var(--section-gap-double);
      }
    }

    &__content {
      max-width: 1024px;
      width: 50%;
      flex: 1;

      @include mq-max(lg) {
        @include column-center;
        width: 100%;
      }
    }

    &__year {
      @include h4;
      margin-block-end: 12px;
    }

    &__location {
      @include h3;

      @include mq-max(lg) {
        @include column-center;
      }

      @include mq-max(sm) {
        font-size: 10.8vw;
      }

      &-city {
        @include mq-max(lg) {
          @include h4;

          @include mq-max(sm) {
            font-size: 8vw;
          }
        }
      }
    }

    &__desc {
      margin-block-start: var(--section-gap-half);

      @include mq-max(lg) {
        text-align: center;
        text-wrap: balance;
      }

      &:has(+ .cta-group) {
        margin-block-end: var(--section-gap-half);
      }
    }

    .cta-group {
      @include mq-min(lg) {
        justify-content: flex-start;
      }
    }

    .swiper {
      .icon-svg {
        color: var(--font-color--primary);
      }
    }
  }

  // .carousel {
  // see _carousel-swiper.scss
  // }
}

// Admin Preview Styles
.frame-content {
  .section-oss-history {
    .swiper-slide {
      display: flex;
      border-radius: var(--radius);
      overflow: hidden;
      flex-shrink: 0;

      img {
        object-fit: cover;
      }
    }
  }
}
