.section-ethos {
  --panel-translate-offset: 96px;

  @include dark-theme;
  margin-block: var(--top-spacing-header) var(--space-between-sections);
  border-radius: var(--radius-lg);
  position: relative;
  padding: 0;
  border-radius: var(--radius-lg);
  overflow: hidden;

  // @include mq-max(lg) {
  //   margin-inline: var(--body-padding);
  // }

  .ethos-top {
    // @include h1; // used to calc carousel img size (lh)
    @include row-center;
    width: 100%;
    height: min(20vw, 380px);

    @include mq-max(xxl) {
      height: 20vw;
    }

    @include mq-max(lg) {
      flex-direction: column;
      height: 0;
    }

    // &__title {
    //   Visually hidden
    //   @include h1;
    // }

    // .carousel-gallery--ethos {
    // see _carousel-gallery.scss
    // }
  }

  .ethos-copy {
    @include column-start;
    gap: var(--section-gap);
  }

  .ethos-middle {
    @include column-start;
    flex-wrap: wrap;
    gap: var(--section-gap);
    position: relative;
    width: 100%;

    @include mq-max(xl) {
      flex-direction: column;
    }

    .description-title {
      @include h4;
      display: block;
      margin-block-end: 0.5ch;

      @include mq-max(xl) {
        @include h5;
      }
    }

    &__p {
      max-width: var(--paragraph-snip);

      @include mq-max(xxl) {
        max-width: var(--paragraph-snip-lg);
      }

      @include mq-max(xl) {
        font-size: $body-text-2;
      }
    }

    &__panels {
      @include row-center(space-between);
      width: 100%;
      overflow: hidden;
      gap: var(--panel-gap);

      @include mq-max(lg) {
        @include column-start;
        width: 100%;
        gap: var(--section-gap);
      }

      &-panel {
        border-radius: var(--radius);
        max-width: 320px;
        min-width: 248px;

        @include mq-max(lg) {
          width: 100%;
          max-width: 520px;

          // &.value-panel-1 {
          //   border-radius: var(--radius) var(--radius) 0 0;
          //   padding-block-start: var(--section-gap);
          // }
          // &.value-panel-2 {
          //   border-radius: 0;
          //   padding-block: var(--section-gap);
          // }
          // &.value-panel-3 {
          //   border-radius: 0 0 var(--radius) var(--radius);
          //   padding-block-end: var(--section-gap);
          // }
        }

        @include mq-min(lg) {
          @include mq-motion-allow {
            opacity: 0;
            translate: var(--panel-translate-offset) 0;
            transition: $ease;

            &:nth-of-type(2) {
              transition: $ease 0.064s;
            }
            &:nth-of-type(3) {
              transition: $ease 0.128s;
            }

            &.gsap-animated {
              opacity: 1;
              translate: 0 0;
            }
          }
        }

        .panel-desc {
          @include mq-max(xl) {
            font-size: $body-text-2;
          }
        }
      }
    }
  }

  .ethos-bottom {
    @include row-center(space-between);
    gap: var(--section-gap);
    width: 100%;

    @include mq-max(lg) {
      flex-direction: column;
    }

    @include mq-motion-allow {
      @include mq-min(lg) {
        opacity: 0;
        translate: calc(var(--panel-translate-offset) * -1) 0;
        transition: $ease 0.25s;

        &.gsap-animated {
          opacity: 1;
          translate: 0 0;
        }
      }
    }

    &__p {
      @include mq-min(lg) {
        width: min(64%, 664px);
      }
      @include mq-max(xl) {
        font-size: $body-text-2;
      }
    }

    .cta-group {
      @include mq-max(lg) {
        align-self: flex-end;
      }
    }
  }

  .ethos-pin {
    // @include top-solid-section;

    @include column-center;
    gap: var(--section-gap);
    padding: var(--body-padding-double) var(--body-padding-double);
    background-image: var(--ethos-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: var(--radius-lg);
    overflow: hidden;

    @include mq-max(lg) {
      // height: clamp(500px, 100svh, 950px);
      height: 96svh;
      background-image: var(--ethos-bg-sm);
      padding: var(--body-padding);
    }
  }

  .ethos-cta-mobile {
    align-self: flex-end;
  }

  .ethos-pin-steps {
    // full styles in _util.scss
    padding-top: 48px; // delay animation
  }

  .ethos-gsap-overlay {
    background: var(--surface-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: var(--radius-lg);
  }
}

.section-competitions {
  // using section-solid-bg util
  @include column-center;
  margin-block-end: var(--space-between-sections);

  .competition-types {
    @include row-center(flex-start);
    width: 100%;
    gap: var(--panel-gap);
    overflow: auto;
    scroll-snap-type: x mandatory;
    align-self: flex-start;
    margin-block-end: var(--section-gap-double);

    @include mq-max(md) {
      flex-direction: column;
      padding-inline-end: 0;
    }

    &__figure {
      @include primary-border-hover;
      position: relative;
      border-radius: var(--radius);
      overflow: hidden;
      flex: 1;
      aspect-ratio: 1 / 1.65;
      min-width: 364px;
      scroll-snap-align: start;

      &:hover,
      &:focus-visible {
        outline: none;

        .competition-types__img {
          scale: 1;
        }

        .competition-types__caption {
          // @include inset-shadow-border;
          opacity: 1;

          &-title,
          &-p {
            translate: 0 0;
          }
        }

        .competition-types__badge {
          opacity: 0;
        }
      }

      picture {
        height: 100%;
      }

      @include mq-max(xxl) {
        min-width: 320px;
      }

      @include mq-max(md) {
        aspect-ratio: 1;
        width: 100%;
        max-width: 500px;
        min-width: 0;
      }
    }

    &__img {
      height: 100%;
      object-fit: cover;

      @include mq-motion-allow {
        scale: 1.025;
        transition: $ease;
      }
    }

    &__caption {
      --content-offset: 48px 0;

      @include dark-theme;
      @include column-start;
      @include blue-gradient(0deg, 50%, 100%);
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      padding: var(--body-padding);

      @include mq-motion-allow {
        opacity: 0;
        transition: $ease;
      }

      &-title {
        @include h4;
        margin-block-end: 24px;

        @include mq-motion-allow {
          translate: var(--content-offset);
          transition: $ease;
        }
      }

      &-p {
        height: 7lh;
        font-size: $body-text-2;

        @include mq-motion-allow {
          translate: var(--content-offset);
          transition: $ease 0.024s;
        }

        @include mq-max(xxl) {
          height: 9lh;
        }
        @include mq-max(md) {
          font-size: 18px;
          height: 8lh;
        }
      }
    }

    &__badge {
      display: none;

      @include mq-touch {
        display: flex;
        position: absolute;
        bottom: var(--body-padding-sm);
        right: var(--body-padding-sm);
        z-index: 1; // Badge not showing on android
      }
    }
  }

  // Year of Gear (YOG)
  .yog {
    @include blue-gradient(0deg, 20%, 80%);
    isolation: isolate;
    position: relative;
    width: 100%;

    &-logo {
      @include row-start;
      position: sticky;
      top: 128px;
      height: 0; // remove white space at start of section
      z-index: -1;

      @include mq-max(lg) {
        height: 196px;
      }

      &__img {
        width: 420px;

        @include mq-max(md) {
          width: min(100%, 360px);
          padding-inline: var(--body-padding-double);
        }
      }
    }

    &-merch {
      margin: auto;
      padding-block: 264px 148px; // flag

      @include mq-max(lg) {
        padding-block-start: 96px;
      }

      &__row {
        @include row-center(space-around);
        gap: 12vw;

        @include mq-min(xxxl) {
          gap: 250px;
        }

        @include mq-min(lg) {
          height: 196px; // flag
        }

        @include mq-max(lg) {
          flex-direction: column;
          gap: var(--section-gap);
          margin-block-end: var(--section-gap);
        }

        &-img {
          $rotation: 15deg;

          width: 250px;
          aspect-ratio: 1;
          object-fit: contain;

          @include mq-max(lg) {
            width: 75%;
          }

          @include mq-motion-allow {
            opacity: 0;
            scale: 0.8;
            transition: $ease 0.125s;

            &.gsap-animated {
              opacity: 1;
              scale: 1;
              transition: $ease 0.25s;
            }
          }

          &.left {
            rotate: -$rotation;
          }

          &.right {
            rotate: $rotation;
          }
        }
      }
    }

    &-types {
      @include row-stretch(space-between);
      padding-block-end: var(--body-padding-double);

      @include mq-max(md) {
        gap: var(--body-padding-double) 0;
        padding-inline: var(--body-padding);
        padding-block-end: var(--body-padding-double);
      }

      @include mq-max(lg) {
        flex-wrap: wrap;
      }

      &__img {
        flex: 1;
        max-width: 23%;
        aspect-ratio: 2 / 1;
        padding: 24px;

        @include mq-max(lg) {
          max-width: 46%;
        }

        @include mq-max(md) {
          padding: 0;
        }
      }
    }

    &-stripes {
      @include row-center;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      width: 50%;
      height: 100%;
      z-index: -2;

      @include mq-min(lg) {
        // border-inline: 4px solid var(--background-color);
        border-inline: 4px solid var(--surface-color);
        // background: linear-gradient(0deg, rgba($black, 1) 20%, rgba($white, 1) 72.5%);
      }

      &__stripe {
        width: 4px;
        height: 100%;
        // background: var(--background-color);
        background: var(--surface-color);

        @include mq-max(md) {
          width: 3px;
        }

        @include mq-max(sm) {
          width: 2px;
        }
      }
    }
  }
}

// .section-experiences {
// padding-block-start: var(--top-spacing-header);
// using section-solid-bg util

// .carousel {
// see _carousel-swiper.scss
// }

// .collage {
// see _collage.scss
// }
// }
