.section-ethos {
  --panel-translate-offset: 96px;

  @include dark-gradient($start: 0%, $end: 120%);
  @include dark-theme;
  margin-block: var(--top-spacing-header) var(--section-gap-double);
  margin-inline: var(--body-padding-double);
  border-radius: var(--radius-lg);
  position: relative;
  padding-block: var(--body-padding);

  @include mq-max(lg) {
    margin-inline: var(--body-padding);
  }

  .ethos-top {
    // @include h1; // used to calc img size (lh)
    @include row-center;
    // gap: var(--section-gap);
    width: 100%;

    // @include mq-max(xl) {
    //   @include h3; // One-off to make ethos responsive at 1200px
    // }

    @include mq-max(lg) {
      flex-direction: column;
    }

    &__title {
      @include h1;
      font-size: min(36vw, 648px);
      line-height: 50%;
      margin-block-end: 128px;
      text-align: center;

      @include mq-max(xxl) {
        font-size: 34vw;
      }

      @include mq-max(lg) {
        font-size: 32vw;
      }
    }

    // .carousel-gallery--ethos {
    // see _carousel-gallery.scss
    // }
  }

  .ethos-middle {
    @include row-start;
    flex-wrap: wrap;
    gap: var(--section-gap-half);
    position: relative;

    @include mq-max(xl) {
      flex-direction: column;
      width: 100%;
    }

    &__p {
      @include mq-min(xl) {
        // width: 40%;
        flex: 1;
      }
      @include mq-max(xl) {
        font-size: $body-text-2;
      }
      @include mq-max(lg) {
        text-align: center;
      }
    }

    &__panels {
      @include row-stretch(flex-start);
      overflow: hidden;

      @include mq-min(xl) {
        flex: 0.5 1 650px;
      }
      @include mq-min(lg) {
        gap: var(--panel-gap);
      }
      @include mq-max(lg) {
        @include column-center;
        width: 100%;
      }

      &-panel {
        // background: var(--surface-color);
        border-radius: var(--radius);
        // padding: var(--body-padding);
        flex: 1 1 auto;
        flex-shrink: 0;
        width: 32%;
        min-width: 248px;

        @include mq-min(lg) {
          aspect-ratio: 1;
        }

        @include mq-max(lg) {
          width: 100%;
          max-width: 520px;
          padding-inline: var(--section-gap);

          &.value-panel-1 {
            border-radius: var(--radius) var(--radius) 0 0;
            padding-block-start: var(--section-gap);
          }
          &.value-panel-2 {
            border-radius: 0;
            padding-block: var(--section-gap);
          }
          &.value-panel-3 {
            border-radius: 0 0 var(--radius) var(--radius);
            padding-block-end: var(--section-gap);
          }
        }

        @include mq-motion-allow {
          opacity: 0;
          translate: var(--panel-translate-offset) 0;
          transition: $ease;

          &:nth-of-type(2) {
            transition: $ease 0.064s;
          }
          &:nth-of-type(3) {
            transition: $ease 0.128s;
          }

          &.animate {
            opacity: 1;
            translate: 0 0;
          }
        }

        .panel-title {
          @include h5;
          // margin-block-end: calc(var(--section-gap-half) / 2);
          // using <br> for spacing & voice break (a11y)

          @include mq-max(lg) {
            @include h4;
            text-align: center;
          }

          @include mq-max(md) {
            @include h5;
          }
        }

        .panel-desc {
          @include mq-max(lg) {
            text-align: center;
            text-wrap: balance;
          }
        }
      }
    }
  }

  .ethos-bottom {
    @include row-center(space-between);
    gap: var(--section-gap);
    width: 100%;

    @include mq-max(lg) {
      flex-direction: column;
      padding: var(--body-padding-double);
    }

    @include mq-motion-allow {
      opacity: 0;
      translate: calc(var(--panel-translate-offset) * -1) 0;
      transition: $ease 0.25s;

      &.animate {
        opacity: 1;
        translate: 0 0;
      }
    }

    &__p {
      @include mq-min(lg) {
        width: min(64%, 664px);
      }
      @include mq-max(lg) {
        text-align: center;
      }
    }
  }

  .ethos-pin {
    // @include top-solid-section;
    background: none; // override for reskin
    @include column-center;
    gap: var(--section-gap-half);
    padding: var(--body-padding-double) var(--body-padding-double);

    @include mq-max(lg) {
      padding: var(--body-padding);
    }
  }

  .ethos-pin-steps {
    // full styles in _util.scss
    padding-top: 48px; // delay animation
  }
}

.section-competitions {
  // using section-solid-bg util
  @include column-center;
  border-end-start-radius: 0;
  border-end-end-radius: 0;

  .competition-types {
    @include row-center(flex-start);
    gap: var(--panel-gap);
    overflow: auto;
    scroll-snap-type: x mandatory;
    align-self: flex-start;
    margin-block-end: var(--section-gap-double);

    @include mq-max(xxl) {
      // padding-inline-start: 48px; // doesn't work for some reason
      padding-inline-end: 32px;
      width: calc(100vw - var(--body-padding-double));
    }

    @include mq-max(md) {
      flex-direction: column;
      padding-inline-end: 0;
    }

    &__figure {
      @include primary-border-hover;
      position: relative;
      border-radius: var(--radius);
      overflow: hidden;
      flex: 1;
      aspect-ratio: 1 / 1.65;
      min-width: 364px;
      scroll-snap-align: start;

      &:hover,
      &:focus-visible {
        outline: none;

        .competition-types__img {
          scale: 1;
        }

        .competition-types__caption {
          // @include inset-shadow-border;
          opacity: 1;

          &-title,
          &-p {
            translate: 0 0;
          }
        }

        .competition-types__badge {
          opacity: 0;
        }
      }

      picture {
        height: 100%;
      }

      @include mq-max(xxl) {
        min-width: 320px;
      }

      @include mq-max(md) {
        aspect-ratio: 1;
        width: 100%;
        max-width: 500px;
        min-width: 0;
      }
    }

    &__img {
      height: 100%;
      object-fit: cover;

      @include mq-motion-allow {
        scale: 1.025;
        transition: $ease;
      }
    }

    &__caption {
      --content-offset: 48px 0;

      @include dark-theme;
      @include column-start;
      @include blue-gradient(0deg, 50%, 100%);
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      padding: var(--body-padding);

      @include mq-motion-allow {
        opacity: 0;
        transition: $ease;
      }

      &-title {
        @include h4;
        margin-block-end: 24px;

        @include mq-motion-allow {
          translate: var(--content-offset);
          transition: $ease;
        }
      }

      &-p {
        height: 7lh;
        font-size: $body-text-2;

        @include mq-motion-allow {
          translate: var(--content-offset);
          transition: $ease 0.024s;
        }

        @include mq-max(xxl) {
          height: 9lh;
        }
        @include mq-max(md) {
          font-size: 18px;
          height: 8lh;
        }
      }
    }

    &__badge {
      display: none;

      @include mq-touch {
        display: flex;
        position: absolute;
        bottom: var(--body-padding-sm);
        right: var(--body-padding-sm);
        z-index: 1; // Badge not showing on android
      }
    }
  }

  // Year of Gear (YOG)
  .yog {
    @include blue-gradient(0deg, 20%, 80%);
    isolation: isolate;
    position: relative;
    width: 100%;

    &-logo {
      @include row-start;
      position: sticky;
      top: 128px;
      height: 0; // remove white space at start of section
      z-index: -1;

      @include mq-max(lg) {
        height: 196px;
      }

      &__img {
        width: 420px;

        @include mq-max(md) {
          width: min(100%, 360px);
          padding-inline: var(--body-padding-double);
        }
      }
    }

    &-merch {
      margin: auto;
      padding-block: 264px 148px; // flag

      @include mq-max(lg) {
        padding-block-start: 96px;
      }

      &__row {
        @include row-center(space-around);
        gap: 12vw;

        @include mq-min(xxxl) {
          gap: 250px;
        }

        @include mq-min(lg) {
          height: 196px; // flag
        }

        @include mq-max(lg) {
          flex-direction: column;
          gap: var(--section-gap);
          margin-block-end: var(--section-gap);
        }

        &-img {
          $rotation: 15deg;

          width: 250px;
          aspect-ratio: 1;
          object-fit: contain;

          @include mq-max(lg) {
            width: 75%;
          }

          @include mq-motion-allow {
            opacity: 0;
            scale: 0.8;
            transition: $ease 0.125s;

            &.animate {
              opacity: 1;
              scale: 1;
              transition: $ease 0.25s;
            }
          }

          &.left {
            rotate: -$rotation;
          }

          &.right {
            rotate: $rotation;
          }
        }
      }
    }

    &-types {
      @include row-stretch(space-between);
      padding-block-end: var(--body-padding-double);

      @include mq-max(md) {
        gap: var(--body-padding-double) 0;
        padding-inline: var(--body-padding);
        padding-block-end: var(--body-padding-double);
      }

      @include mq-max(lg) {
        flex-wrap: wrap;
      }

      &__img {
        flex: 1;
        max-width: 23%;
        aspect-ratio: 2 / 1;
        padding: 24px;

        @include mq-max(lg) {
          max-width: 46%;
        }

        @include mq-max(md) {
          padding: 0;
        }
      }
    }

    &-stripes {
      @include row-center;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      width: 50%;
      height: 100%;
      z-index: -2;

      @include mq-min(lg) {
        // border-inline: 4px solid var(--background-color);
        border-inline: 4px solid var(--surface-color);
        // background: linear-gradient(0deg, rgba($black, 1) 20%, rgba($white, 1) 72.5%);
      }

      &__stripe {
        width: 4px;
        height: 100%;
        // background: var(--background-color);
        background: var(--surface-color);

        @include mq-max(md) {
          width: 3px;
        }

        @include mq-max(sm) {
          width: 2px;
        }
      }
    }
  }
}

.section-experiences {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
  // padding-block-start: var(--top-spacing-header);
  // using section-solid-bg util

  // .carousel {
  // see _carousel-swiper.scss
  // }

  // .collage {
  // see _collage.scss
  // }
}
