---
layout: app
path: apply

title: Join SPWR

# master props
hide_header: false
hide_footer: true
---

<section class="hero">
  <button
    class="video-panel video-toggle tab-element-page"
    data-src="https://www.dropbox.com/scl/fi/vfsoc76xakepcgxzokkh9/SLoSG-Final.mp4?rlkey=n4rfne77fqzbh09o3bmp7drza&e=1&st=j1jsf1sg&dl=0"
    aria-label="Open 'join sunpower' promo video"
    aria-controls="video-overlay"
  >
    <span class="badge cta-1 tab-element-page"> Watch Trailer </span>
    <video
      class="apply-video"
      src="https://www.dropbox.com/scl/fi/vfsoc76xakepcgxzokkh9/SLoSG-Final.mp4?rlkey=n4rfne77fqzbh09o3bmp7drza&e=1&st=j1jsf1sg&raw=1"
      muted
      autoplay
      playsinline
      loop
    ></video>
  </button>
  <!-- <video
      class="apply-video tab-element-page"
      src="https://www.dropbox.com/scl/fi/vfsoc76xakepcgxzokkh9/SLoSG-Final.mp4?rlkey=n4rfne77fqzbh09o3bmp7drza&e=1&st=j1jsf1sg&raw=1"
      controls
    ></video> -->

  <div class="form-panel" data-lenis-prevent>
    <h1 class="form-panel__title">{{ page_join.hero.section_title }}</h1>

    <!-- prettier-ignore -->
    {% set form_action_path = '/form-submit-' + path %}
    {% set form_name = 'join-spwr-form-' + path %}
    {% set form_data = page_join.hero.form_data %}
    {% include "./_includes/components/form-redirect.njk" %}
  </div>
</section>
