---
layout: app
path: home

title: Join SunPower - Join the best

# master props
hide_header: true
hide_footer: true
---

<section class="hero">
  <h1 class="sr-only">
    {{ page_home.hero.section_title or 'Welcome to SunPower' }}
  </h1>

  <div class="hero-panel spwr-external">
    <img
      class="hero-panel__bg-img"
      src="{{ page_home.hero.external_panel.bg_img }}"
      alt=""
      loading="eager"
    />
    <img
      class="hero-panel__logo"
      src="{{ page_home.hero.external_panel.logo }}"
      alt=""
      eleventy:ignore
    />
    <div class="hero-panel__text">
      <!-- prettier-ignore -->
      <h2
        class="hero-panel__title"
        aria-label="{{ page_home.hero.external_panel.pre_title | removeTokens }} {{ page_home.hero.external_panel.title | removeTokens }}"
      >
        <span class="hero-panel__title-sm" aria-hidden="true">
          {{ page_home.hero.external_panel.pre_title }}
        </span>
        <span class="hero-panel__title-lg" aria-hidden="true">
          {{ page_home.hero.external_panel.title }}
        </span>
      </h2>

      <!-- prettier-ignore -->
      {% set cta_1 = page_home.hero.external_panel.cta %}
      {% include "./_includes/components/cta-group.njk" %}
    </div>
  </div>

  <div class="hero-panel spwr-internal">
    <img
      class="hero-panel__bg-img"
      src="{{ page_home.hero.internal_panel.bg_img }}"
      alt=""
      loading="eager"
    />
    <img
      class="hero-panel__logo"
      src="{{ page_home.hero.internal_panel.logo }}"
      alt=""
      eleventy:ignore
    />

    <div class="hero-panel__text">
      <!-- prettier-ignore -->
      <h2
        class="hero-panel__title"
        aria-label="{{page_home.hero.internal_panel.pre_title | removeTokens}} {{ page_home.hero.internal_panel.title | removeTokens }}"
      >
        <span class="hero-panel__title-sm" aria-hidden="true">
          {{ page_home.hero.internal_panel.pre_title }}
        </span>
        <span class="hero-panel__title-lg" aria-hidden="true">
          {{ page_home.hero.internal_panel.title }}
        </span>
      </h2>

      <!-- prettier-ignore -->
      {% set cta_1 = page_home.hero.internal_panel.cta %}
      {% include "./_includes/components/cta-group.njk" %}
    </div>
  </div>
</section>
