---
layout: app
path: operation-spwr-serves

title: Operation SPWR Serves

# master props
hide_header: false
hide_footer: false
---

<!-- prettier-ignore -->
{% set section_h1 = page_oss.hero.section_title %}
{% set section_p = page_oss.hero.section_desc %}
{% set section_bg = page_oss.hero.section_bg %}
{% set cta_1 = page_oss.hero.cta %}
{% set is_hero = true %}
{% set container_tag = 'section' %}
{% set section_img_hero_class = 'oss-page' %}
{% set img_hero_subcontent = true %}
{% if page_oss.hero.toggle_section %}
  {% include "./_includes/partials/partial-img-hero.njk" %}
{% endif %}

<!-- prettier-ignore -->
{% if page_oss.history.toggle_section %}
<section class="section-oss-history" id="history">
  <h2 class="section-solid-bg__title section-oss-history__title" aria-label="{{ page_oss.history.section_title | removeTokens }}">
    <span aria-hidden="true">
      {{ page_oss.history.section_title }}
    </span>
  </h2>
  <p class="section-solid-bg__desc section-oss-history__desc">
    {{ page_oss.history.section_desc }}
  </p>

  <div class="section-oss-history__events">
    {% for item in page_oss.history.events %}
    <div class="service-event">
      <img class="service-event__graphic" src="{{ item.graphic }}" alt="" eleventy:ignore>

      <div class="service-event__content">
        <h3 class="service-event__year">{{ item.year }}</h3>
        <h4 class="service-event__location" aria-label="{{ item.city }}, {{ item.country }}">
          {% if item.city %}
            <span class="service-event__location-city" aria-hidden="true">{{ item.city }},</span>
          {% endif %}
          <span class="service-event__location-country" aria-hidden="true">{{ item.country }}</span>
        </h4>
        <p class="service-event__desc">{{ item.desc }}</p>

        {% set img_carousel = true %}
        {% set list = item.gallery %}
        {% set cta_1_outline = false %}
        {% set cta_1 = item.cta %}
        {% include "./_includes/components/carousel-swiper.njk" %}

        {% if (not item.gallery) and item.cta.text %}
          {% set cta_1 = item.cta %}
          {% include "./_includes/components/cta-group.njk" %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
</section>
{% endif %}
