---
layout: app
path: platform

title: SPWR platform

# master props
hide_header: false
hide_footer: false
---

<!-- prettier-ignore -->
{% if page_platform.hero.toggle_section %}
  {% set section_h1 = page_platform.hero.section_title %}
  {% set section_p = page_platform.hero.section_desc %}
  {% set section_bg = page_platform.hero.section_bg %}
  {% set cta_1 = page_platform.hero.cta %}
  {% set is_hero = true %}
  {% set container_tag = 'section' %}
  {% set section_img_hero_class = 'platform-page' %}
  {% set img_hero_subcontent = false %}
  {% include "./_includes/partials/partial-img-hero.njk" %}
{% endif %}

{% if page_platform.direct.toggle_section %}
<section class="direct section-solid-bg" id="direct">
  <h2 class="section-solid-bg__title">{{ page_platform.direct.section_title }}</h2>
  <div class="section-solid-bg__icon-divider">
    <!-- prettier-ignore -->
    {% set icon_svg = ({ src: '/static/img/icon-dots-divider.svg', class: '' }) %}
    {% include "./_includes/components/icon-svg.njk" %}
  </div>
  <p class="section-solid-bg__desc">{{ page_platform.direct.section_desc }}</p>

  {% set node_chart = page_platform.direct.node_chart %}
  <div class="node-chart">
    <div class="node-chart__top">
      <div class="node-chart__top-node node-chart__node">
        <img
          src="{{ page_platform.direct.node_img.src }}"
          alt="{{ page_platform.direct.node_img.title }}"
          eleventy:ignore
        />
        <div class="node-chart__node-dot"></div>
      </div>
    </div>

    <!-- <div class="node-chart__middle">
      <p>middle</p>
    </div> -->

    <div class="node-chart__bottom">
      <!-- prettier-ignore -->
      {% for node in node_chart %}
      {% set node_loop_class = loop.first and 'node-chart__node--first' or loop.last and 'node-chart__node--last' or '' %}
      <!-- prettier-ignore -->
      <div class="
        node-chart__bottom-node
        node-chart__node
        {{ node_loop_class }}
        "
      >
        <h3 class="node-chart__node-title">{{ node.title }}</h3>
        <p class="node-chart__node-desc">{{ node.desc }}</p>
        <div class="node-chart__node-dot"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<!-- prettier-ignore -->
{% set section_id = "dealers" %}
{% set section_h2 = page_platform.dealers.section_title %}
{% set section_desc = page_platform.dealers.section_desc %}
{% set section_logos = page_platform.dealers.img_list %}
{% set logo_grid = page_platform.dealers.logo_grid %}
{% set logo_grid_sm = page_platform.dealers.logo_grid_sm %}
{% if page_platform.dealers.toggle_section %}
  {% include "./_includes/partials/partial-logos.njk" %}
{% endif %}

<!-- prettier-ignore -->
{% set section_id = "financiers" %}
{% set section_h2 = page_platform.financiers.section_title %}
{% set section_desc = page_platform.financiers.section_desc %}
{% set section_logos = page_platform.financiers.img_list %}
{% set logo_grid = page_platform.financiers.logo_grid %}
{% set logo_grid_sm = page_platform.financiers.logo_grid_sm %}
{% if page_platform.financiers.toggle_section %}
  {% include "./_includes/partials/partial-logos.njk" %}
{% endif %}
<!-- </section> -->

<!-- prettier-ignore -->
{% if page_platform.tools.toggle_section %}
<section class="section-tools" id="platform-tools">
  <h2 class="sr-only">
    {{ page_platform.tools.section_title or 'SPWR Tools' }}
  </h2>
  <!-- prettier-ignore -->
  {% for tool in page_platform.tools.list %}
    {% set is_hero = false %}
    {% set container_tag = 'div' %}
    {% set section_h1 = '' %}
    {% set section_h2 = '' %}
    {% set section_id = '' %}
    {% set section_graphic = tool.graphic %}
    {% set graphic_title = tool.title | removeTokens %}
    {% set section_bg = tool.section_bg %}
    {% set section_p = tool.section_desc %}
    {% set section_img_hero_class = tool.class + ' tools stack-section' %}
    {% set cta_1 = tool.cta %}
    {% include "./_includes/partials/partial-img-hero.njk" %}
  {% endfor %}
</section>
{% endif %}

<!-- prettier-ignore -->
{% if page_platform.quotes.toggle_section %}
  {% set section_title = page_platform.quotes.section_title %}
  {% set quote_list = page_platform.quotes.list %}
  {% include "./_includes/partials/partial-quote.njk" %}
{% endif %}
