{% if hide_footer != true %}
<footer class="site-footer" id="site-footer">
  <div class="site-footer__inner">
    {% if global.footer.logo_src or global.footer.show_social %}
    <div class="inner-top">
      <!-- prettier-ignore -->
      {% if global.footer.logo_src %}      
        {% set logo_link_src = global.footer.logo_src %}
        {% set logo_link_class = "footer-logo" %}
        {% set page_tabbing = 'tab-element-page' %}
        {% include "../components/logo-link.njk" %}
      {% endif %}

      <!-- prettier-ignore -->
      {% if global.footer.show_social %}
        {% set no_label = true %}
        {% set social_data = global.social_media.links %}
        {% include "../components/social-media.njk" %}
      {% endif %}
    </div>
    {% endif %}

    <div class="inner-bottom">
      <ul class="footer-links" aria-label="Footer navigation">
        {% for item in global.footer.links %}
        <li>
          <!-- prettier-ignore -->
          <a
            class="footer-links__link classic-link tab-element-page"
            href="{{ item.url }}"
            {%if item.new_tab%}
              target="_blank" rel="noopener noreferrer"
            {%endif%}
          >
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <!-- prettier-ignore -->
      {% set cta_1 = global.footer.cta %}
      {% set cta_1_outline = false %}
      {% include "../components/cta-group.njk" %}

      <a href="https://axyscreative.com" target="_blank" class="sr-only axys-link tab-element-page">
        Made by AXYS Creative
      </a>
    </div>
  </div>
</footer>
{% endif %}
