{% if hide_header != true %}
<header class="site-header" aria-label="Site Header">
  <!-- prettier-ignore -->
  {% set logo_link_src = "/static/img/spwr-white-word-mark.svg" %}
  {% set logo_link_class = "header-logo" %}
  {% include "../components/logo-link.njk" %}

  <div class="site-nav-btn-wrapper">
    <button
      class="site-nav-btn"
      aria-controls="site-navigation"
      aria-label="Toggle navigation menu"
      aria-expanded="false"
    >
      <div class="site-nav-btn__line-wrapper">
        <span class="site-nav-btn-line"></span>
        <span class="site-nav-btn-line"></span>
      </div>
    </button>
  </div>
</header>
{% endif %}
