<nav class="site-nav" id="site-navigation" aria-label="Main Navigation" aria-hidden="true">
  <div class="site-nav__inner">
    {% if navigation.links %}
    <ul class="nav-links">
      {% for link in navigation.links %}
      <li>
        <a
          class="nav-links__link tab-element-nav {% if path == link.url %}nav-link--active-page{% endif %}"
          href="/{{ link.url }}"
        >
          {{ link.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="site-nav__footer">
      <!-- prettier-ignore -->
      {% set tab_nav = true %}
      {% set no_label = false %}
      {% set social_data = global.social_media.links %}
      {% include "../components/social-media.njk" %}
    </div>
  </div>
</nav>
