<div class="logos-group" id="{{ section_id }}">
  <h2 class="logos-group__h2">{{ section_h2 }}</h2>
  <div class="section-solid-bg__icon-divider">
    <!-- prettier-ignore -->
    {% set icon_svg = ({ src: '/static/img/icon-dots-divider.svg', class: '' }) %}
    {% include "../components/icon-svg.njk" %}
  </div>
  <p class="logos-group__p">{{ section_desc }}</p>

  <div class="logos-group__imgs grid-{{ logo_grid }} grid-sm-{{ logo_grid_sm }}">
    {% for item in section_logos %}
    <img
      class=""
      src="{{ item.src }}"
      alt="{{ item.title }}"
      width="335"
      height="186"
      eleventy:ignore
    />
    {% endfor %}
  </div>
</div>
