<!-- prettier-ignore -->
<{{ container_tag }}
class="
  partial-img-hero
  {{ section_img_hero_class }}
  {% if img_hero_subcontent == true%}has-subcontent{% endif %}
"
{% if section_id %}
  id="{{ section_id }}"
{% endif %}
>
  <div class="partial-img-hero__inner">
    <!-- prettier-ignore -->
    <img
      class="partial-img-hero__bg"
      src="{{ section_bg }}"
      alt=""
      {% if is_hero %}
        loading="eager"
      {% endif %}
    />
    
    {% if section_graphic %}
    <img
      class="partial-img-hero__graphic"
      src="{{ section_graphic }}"
      alt="{{ graphic_title }}"
      eleventy:ignore
      width="250"
      height="320"
      loading="lazy"
    />
    {% endif %}

    <!-- prettier-ignore -->
    {% if section_h1 %}
    <h1 class="partial-img-hero__h1" aria-label="{{ section_h1 | removeTokens }}">
      <span aria-hidden="true">
        {{ section_h1 }}
      </span>
    </h1>
    {% endif %}

    <!-- prettier-ignore -->
    {% if section_h2 %}
    <h2 class="partial-img-hero__h2" aria-label="{{ section_h2 | removeTokens}}">
      <span aria-hidden="true">
        {{ section_h2 }}
      </span>
    </h2>
    {% endif %}

    <div class="partial-img-hero__footer">
      <p class="partial-img-hero__p">{{ section_p }}</p>

      <!-- prettier-ignore -->
      {% include "../components/cta-group.njk" %}
    </div>
  </div>

  <!-- Current use on OSS page -->
   {% if img_hero_subcontent %}
    <div class="partial-img-hero__sub-content">
      <p class="sub-content__p">{{ section_p }}</p>
      {% set cta_1_outline = false %}
      {% include "../components/cta-group.njk" %}
    </div>
   {% endif %}
</{{ container_tag }}>
